.calendar {
  &__month {
    &:not(:last-child) {
      margin-bottom: 50px;
      @include tablet {
        margin-bottom: 71px;
      }
    }
    &-title {
      position: relative;
      margin: 0 0 25px 0;
      padding-bottom: 10px;
      font-size: 20px;
      letter-spacing: 1px;
      text-transform: uppercase;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -$content-padding;
        display: block;
        width: calc(100% + #{$content-padding});
        height: 1px;
        background-color: #979797;
        @include tablet {
          right: -$content-padding-tablet;
          width: calc(100% + #{$content-padding-tablet});
        }
      }
    }
  }
  &__event {
    @include tablet {
      position: relative;
      padding-left: 205px;
    }
    &:not(:last-child) {
      margin-bottom: 22px;
      @include tablet {
        margin-bottom: 39px;
      }
    }
    &-title {
      margin-bottom: 5px;
      font-size: 20px;
      line-height: 1.5;
      font-weight: 900;
      @include tablet {
        font-size: 24px;
        line-height: 1.67;
      }
    }
    &-details {
      margin-bottom: 5px;
      @include tablet {
        position: absolute;
        top: 0;
        left: 0;
        width: 160px;
        margin-bottom: 0;
      }
    }
    &-date {
      font-weight: 900;
      line-height: 2.19;
    }
    &-address {
      font-size: 12px;
      line-height: 1.67;
    }
    &-description {
      margin-bottom: 5px;
      line-height: 2.0;
    }
    &-organizer {
      line-height: 2.0;
    }
  }
}
