.event {
  &__modal {
    &-img {
      display: inline-block;
      width: 100%;
      height: auto;
      margin: 0 0 20px 0;
      @include tablet {
        width: 150px;
        height: 150px;
        margin: 0 20px 0 0;
      }
    }
    &-info {
      width: 100%;
      display: inline-block;
      vertical-align: top;
      @include tablet {
        width: 60%;
      }
    }
    &-name {
      margin-bottom: 10px;
      font-size: 35px;
      font-weight: 600;
    }
    &-position {
      opacity: .7;
      font-size: 15px;
    }
    &-company {
      opacity: .7;
      font-size: 15px;
      margin-bottom: 10px;
    }
    &-desc {
      font-size: 16px;
    }
  }
  &__date {
    margin: 0;
    line-height: 1.75;
    font-size: 20px;
    font-weight: bold;
  }
  &__speakers {
    display: flex;
    flex-direction: column;
    margin-top: 93px;
    @include tablet {
      flex-direction: row;
    }
    &-col {
      &-title {
        margin-bottom: 21px;
        font-size: 20px;
        letter-spacing: 1px;
        text-transform: uppercase;
      }
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
    &-list {
    }
    &-item {
      display: inline-block;
      width: 240px;
      height: 450px;
      background-color: $bg-color;
      overflow: hidden;
      font-size: 14px;
      margin-bottom: 20px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &:hover {
        cursor: pointer;
      }
      &-img {
        width: 100%;
        height: 280px;
        object-fit: cover;
        filter: grayscale(100%);
      }
      &-block {
        padding: 17px 30px 26px;
      }
      &-name {
        font-weight: 600;
        margin-bottom: 12px;
      }
      &-position {
        font-weight: 600;
      }
      &-company {
        margin-bottom: 14px;
      }
    }
  }
}
