.fest {
  &__promo {
    min-height: 450px;
    position: relative;
    background-color: $base-color;
    @include tablet {
      min-height: 740px;
    }
    &-logo {
      position: absolute;
      top: 98px;
      left: 14px;
      width: 215px;
      height: 166px;
      z-index: 10;
      @include tablet {
        width: 100%;
        height: 132px;
        top: 77px;
        left: 0;
        text-align: center;
        background-image: url("#{$img-url}/muf-fest-big.svg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
      }
    }
    &-bg {
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      @include object-fit(cover)
    }
  }
  &__program {
    position: relative;
    margin-top: -50px;
    padding: 46px 18px;
    background-color: #fff;
    z-index: 10;
    &-text {
      line-height: 2;
      margin-bottom: 23px;
    }
    @include tablet {
      display: none;
    }
    &--tablet {
      display: none;
      @include tablet {
        position: absolute;
        right: 90px;
        bottom: 130px;
        display: block;
        width: 386px;
        height: 285px;
        padding: 32px 30px 33px;
      }
    }
  }
  &__content {
    background-color: $primary-color;
    @include tablet{
      padding: 100px 18px 91px;
      margin-bottom: -91px;
    }
    &-text {
      display: block;
      margin: 0 auto;
      line-height: 2;
      &:not(:last-child) {
        margin-bottom: 40px;
      }
      @include tablet {
        width: 790px;
        font-size: 24px;
        line-height: 1.67;
      }
    }
    &-gallery {
      @include tablet {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: flex-start;
        width: 894px;
        margin: 110px auto 0;
      }
      &-item {
        width: 284px;
        height: 189px;
        overflow: hidden;
        &:not(:last-child) {
          margin-bottom: 20px;
        }
      }
      &-img {
        width: auto;
        height: 100%;
      }
    }
  }
}
