.footer__mob {
  font-size: 14px;
  line-height: 1.43;
  background-color: #f8f8f8;
  @include tablet {
    display: none;
  }
  &-inner {
    padding: 45px 18px 40px;
  }
  &-link {
    @include link-reset;
    color: black;
  }
  &-section {
    margin-bottom: 46px;
    &-title {
      font-size: 18px;
      margin: 0 0 15px 0;
      &--secondary {
        font-size: 16px;
        margin: 0 0 11px 0;
      }
    }
    &--small-indent {
      margin-bottom: 24px;
    }
    &--marked {
      position: relative;
      padding-top: 26px;
      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 182px;
        height: 5px;
        background-color: #d8d8d8;
      }
    }
  }
  &-nav {
    &-item {
      @include link-reset;
      display: inline-block;
      margin-right: 16px;
      font-size: inherit;
      font-weight: 500;
      line-height: 1.7;
      color: #828282;
    }
  }
}
