.footer {
  display: none;
  position: relative;
  background-color: #f8f8f8;
  @include tablet {
    display: block;
  }
  &__social {
    display: none;
    background-color: $base-color;
    @include tablet {
      display: block;
    }
    &-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: stretch;
      height: 80px;
      max-width: 1280px;
      margin: 0 auto;
      @include desktop {
        padding: 0 40px;
      }
    }
    &-item {
      display: inline-flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 25%;
      border-left: 1px solid #464646;
      &:last-child {
        border-right: 1px solid #464646;
      }
      &:hover > .footer__social-icon {
        opacity: .7;
      }
    }
    &-icon {
      &--fb {
        width: 15px;
        height: 22px;
      }
      &--vk {
        width: 25px;
        height: 15px;
      }
      &--yt {
        width: 13px;
        height: 15px;
      }
      &--ig {
        width: 20px;
        height: 20px;
      }
    }
  }
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 50px 12px 77px;
  }
  &__logo {
    @include object-fit(contain);
    flex: 1;
    width: 192px;
    height: 192px;
    margin-right: 48px;
  }
  &__row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &:not(:last-child) {
      margin-bottom: 56px;
    }
  }
  &__info {
    &-title {
      font-size: 20px;
      font-weight: 900;
      line-height: 2;
    }
    &-text {
      font-size: 16px;
      line-height: 2.19;
    }
  }
  &__block {
    &:not(:last-child) {
      margin-right: 30px;
    }
    &-title {
      margin: 0 0 25px 0;
      font-size: 18px;
      font-weight: bold;
      color: #000000;
    }
  }
  &__link {
    @include link-reset;
  }
  &__nav-item {
    @include link-reset;
    display: block;
    line-height: 1.43;
    color: #828282;
    font-size: 14px;
    font-weight: 500;
    transition: color 133ms ease-in-out;
    &:hover {
      color: $base-color;
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__decorated-block {
    width: 182px;
    margin: 25px 24px 24px 0;
    padding-top: 11px;
    border-top: 5px solid #d8d8d8;
    font-size: 14px;
    &-title {
      font-size: 14px;
    }
    &-content {
      line-height: 1.79;
    }
  }
  &__people {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  &__tender {
    font-size: 14px;
  }
  &__phone {
    display: block;
    margin-bottom: 20px;
  }
  &__copyright {
    font-size: 14px;
    line-height: 1.79;
  }
}
