.full-width-info {
  margin-top: 60px;
  margin-bottom: 60px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f4f4f4;
  @include tablet {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  &__content {
    @include content;
  }
  &__title {
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 30px;
    @include tablet {
      font-size: 48px;
      line-height: 52px;
      margin-bottom: 50px;
    }
  }
  &__subtitle {
    display: block;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 1.88;
    @include tablet {
      width: 50%;
    }
  }
  &__block {
    display: flex;
    flex-direction: column;
    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }
    &-item {
      display: block;
      width: 100%;
      margin-bottom: 30px;
      padding-top: 18px;
      border-top: 5px solid #000;
      font-size: 16px;
      line-height: 28px;
      @include tablet {
        // width: 30%;
        &:not(:last-child) {
          margin-right: 100px;
        }
      }
    }
  }
}
