.header {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  background-color: $base-color;
  color: #fff;
  @include tablet {
    height: 95px;
  }
  &__logo {
    position: absolute;
    top: 0;
    display: block;
    height: 50px;
    z-index: 20;
    & > img {
      width: auto;
      height: 100%;
    }
    @include tablet {
      position: relative;
      width: auto;
      height: 100%;
      margin-left: 50px;
      margin-right: 45px;
    }
  }
  &__nav-toggle {
    width: 24px;
    height: 24px;
    margin-left: 20px;
    margin-right: 20px;
    @include tablet {
      display: none;
    }
  }
  &__language-link {

    @include link-reset;
    margin-left: 20px;
    color: inherit;
    text-transform: uppercase;
    &:hover {
      color: $primary-color;
    }
    @include tablet {
      display: block;
      padding: 34px 40px;
      margin-left: 40px;
      font-size: 24px;
      letter-spacing: 1.7px;
      border-left: 1px solid rgba(255, 255, 255, .3);
    }
  }
  &__registration {
    margin-left: auto;
    &-btn {
      @include btn-reset;
      @include link-reset;
      color: #ffffff;
      border: 2px solid #fff;
      font-weight: 400;
      font-size: 12px;
      padding: 4px 12px 5px;
      overflow: hidden;
      @media (hover: hover) {
        &:hover {
          color: $primary-color;
          border-color: $primary-color;
        }
      }
      &:active {
        color: $primary-color;
      }
      @include tablet {
        padding: 8px 22px 9px;
        font-size: 16px;
      }

    }
  }
  &__secondary {
    padding: 16px $content-padding 17px;
    background-color: $primary-color;
    @include tablet {
      padding-left: 50px;
    }
    &-link {
      @include link-reset;
      color: $base-color;
      font-size: 14px;
      font-weight: 500;
      letter-spacing: .8px;
      text-transform: uppercase;
      &:before {
        content: '←';
        display: inline-block;
        width: 17px;
        height: 17px;
        vertical-align: top;
        font-family: GraphikLC;
      }
    }
  }
}
