.history {
  margin-bottom: 79px;
  @include tablet {
    margin-bottom: 134px;
  }
  &__content {
    @include content;
  }
  &__stats {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-bottom: 40px;
    @include tablet {
      justify-content: space-between;
      flex-wrap: nowrap;
    }
    &-item {
      width: 49%;
      height: 142px;
      text-align: center;
      padding: 10px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      &:first-child {
        border-right: 1px solid #d8d8d8;
      }
      &:nth-child(3) {
        border-top: 1px solid #d8d8d8;
        border-right: 1px solid #d8d8d8;
        @include tablet {
          border-top: none;
        }
      }
      &:nth-child(4) {
        border-top: 1px solid #d8d8d8;
        @include tablet {
          border-top: none;
        }
      }
      @include tablet {
        width: auto;
        height: 120px;
        padding: 0 75px;
        border-right: 1px solid #d8d8d8;
        text-align: left;
        align-items: flex-start;
        &:first-child {
          min-width: 170px;
          padding-left: 0;
        }
        &:last-child {
          padding-right: 0;
          border: none;
        }
      }
    }
    &-number {
      font-size: 36px;
      font-weight: 900;
      @include tablet {
        font-size: 42px;
      }
    }
    &-desc {
      font-size: 12px;
      line-height: 1.33;
    }
  }
  &__title {
    display: block;
    margin: 0 0 23px 0;
    font-size: 32px;
    font-weight: 900;
    text-transform: uppercase;
    @include tablet {
      margin: 0 0 65px 0;
      font-size: 64px;
    }
  }
  &__slider {
    margin-bottom: 28px;
  }
  &__pdf {
    margin-bottom: 61px;
  }
}

a.history__title {
  @include link-reset;
}
