.info {
  margin-bottom: 65px;
  &__more-link {
    @include link-reset;
    position: relative;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
    font-size: 11px;
    font-weight: 700;
    border-bottom: 2px solid;
    @include tablet {
      font-size: 16px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -22px;
      top: -1px;
      display: block;
      width: 16px;
      height: 16px;
      background-image: url("#{$img-url}/icons/arrow-forward-icon.svg");
      background-position: 50%;
      background-size: cover;
      @include tablet {
        top: 2px;
      }
    }
  }
  &__content {
    @include content;
  }
  &__top {
    margin: 0 0 39px 0;
    text-align: center;
    @include tablet {
      display: inline-block;
      margin: 0 56px 0 0;
      vertical-align: top;
      text-align: right;
    }
    &-img {
      display: inline-block;
      width: 100%;
      max-width: 284px;
      height: 196px;
      margin: 0 auto;
      @include tablet {
        max-width: 344px;
        height: 246px;
        margin: 0;
      }
    }
    &-action {
      margin-top: 39px;
    }
  }
  &__text {
    @include tablet {
      display: inline-block;
      width: 489px;
    }
    @include desktop {
      width: 50%;
    }
    & > p {
      line-height: 2;
      margin: 0;
      &:not(:last-child) {
        margin-bottom: 11px;
        @include tablet {
          margin-bottom: 15px;
        }
      }
      @include tablet {
        line-height: 2.19;
      }
    }
  }
  &__slider {
    margin-top: 19px;
    margin-bottom: 80px;
    overflow: hidden;
    @include tablet {
      margin-top: 47px;
    }
  }
  &__winners {
    margin-top: 31px;
    counter-reset: winners;
    @include tablet {
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -$content-padding-tablet;
        display: block;
        width: calc(100% + #{$content-padding-tablet});
        height: 1px;
        background-color: #979797;
      }
    }
    &-title {
      position: relative;
      margin: 0 0 17px 0;
      padding-bottom: 17px;
      font-size: 14px;
      font-weight: 300;
      text-transform: uppercase;
      @include tablet {
        margin-bottom: 41px;
      }
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -$content-padding;
        display: block;
        width: calc(100% + #{$content-padding});
        height: 1px;
        background-color: #979797;
        @include tablet {
          right: -$content-padding-tablet;
          width: calc(100% + #{$content-padding-tablet});
        }
      }
    }
    &-item {
      position: relative;
      padding-left: 40px;
      @include tablet {
        display: inline-block;
        width: 210px;
        height: 150px;
        vertical-align: top;
      }
      &:before {
        position: absolute;
        left: 0;
        top: 0;
        counter-increment: winners;
        content: counter(winners);
        font-size: 40px;
        font-weight: 100;
        color: #747474;
      }
      &:not(:last-child) {
        margin-bottom: 20px;
        @include tablet {
          margin: 0 35px 0 0;
        }
      }
      &-name {
        margin-bottom: 10px;
        font-size: 14px;
        font-weight: bold;
        line-height: 1.43;
        text-transform: uppercase;
      }
      &-desc {
        font-size: 14px;
        line-height: 1.43;
      }
    }
  }
}
