.library {
  &__slider {
    margin-bottom: 42px;
  }
  &__item {
    position: relative;
    @include tablet {
      padding-left: 205px;
    }
    &-title {
      @include link-reset;
      font-size: 20px;
      font-weight: 900;
      line-height: 1.5;
      color: inherit;
      @include tablet {
        font-size: 24px;
        line-height: 1.67;
      }
    }
    &-date {
      line-height: 2.19;
      font-weight: bold;
      @include tablet {
        position: absolute;
        left: 0;
        top: 0;
      }
    }
    &-excerpt {
      line-height: 2.0;
    }
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }
}
