.menu-mobile {
  position: absolute;
  left: 0;
  top: -100%;
  width: 100%;
  padding: 52px 33px 30px;
  color: transparent;
  background-color: $base-color;
  z-index: 15;
  transition: top 133ms ease-in-out;
  opacity: 0;
  pointer-events: none;
  @include tablet {
    display: none;
  }
  &__inner {
    opacity: 0;
    transition: opacity 133ms ease-in-out 133ms
  }
  &.is-active {
    top: 50px;
    color: #fff;
    opacity: 1;
    pointer-events: auto;
    & > .menu-mobile__inner {
      opacity: 1;
    }
  }
  &__list {
    padding: 0;
    margin: 0;
  }
  &__item {
    display: block;
    &--horizontal {
      display: inline-block;
      &:not(:last-child) {
        margin-right: 21px;
      }
    }
    & > a {
      @include link-reset;
      color: inherit;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;
      &:hover {
        color: $primary-color;
      }
    }
    &:not(:last-child) {
      margin-bottom: 20px;
    }
  }
  &__archive {
    margin-bottom: 30px;
    &-title {
      margin-bottom: 7px;
      font-size: 12px;
    }
    margin-top: 23px;
    padding: 0;
  }
  &__social {
    display: flex;
    flex-wrap: wrap;
    &-item {
      width: 42px;
      height: 42px;
      background-position: center;
      background-repeat: no-repeat;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &--ig {
        background-image: url("#{$img-url}/icons/social-ig.svg");
        background-size: 25px;
      }
      &--yt {
        background-image: url("#{$img-url}/icons/social-yt.svg");
        background-size: 25px auto;
      }
      &--vk {
        background-image: url("#{$img-url}/icons/social-vk.svg");
        background-size: 25px auto;
      }
      &--fb {
        background-image: url("#{$img-url}/icons/social-fb.svg");
        background-size: auto 25px;
      }
    }
  }
}
