.menu {
  display: none;
  @include tablet {
    display: block;
  }
  &__row {
    padding: 0;
    &:not(:last-child) {
      margin-bottom: 18px;
    }
  }
  &__item {
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    & a {
      @include link-reset;
      color: inherit;
      &:hover {
        color: $primary-color;
      }
    }
    & div:hover {
      color: $primary-color;
      cursor: pointer;
    }
    &:not(:last-child) {
      margin-right: 30px;
    }
    &--dropdown {
      position: relative;
      &:after {
        content: "\25BE";
        display: block;
        position: absolute;
        right: -15px;
        top: -1px;
        font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
      }
      &:hover > .menu__dropdown {
        display: block;
      }
    }
  }
  &__dropdown {
    display: none;
    position: absolute;
    top: 15px;
    left: -16px;
    width: 238px;
    padding: 20px;
    background-color: $base-color;
    border-left: 15px solid $primary-color;
    z-index: 1000;
    & .menu__item {
      display: block;
      &:not(:last-child) {
        margin-bottom: 16px;
      }
    }
    &:hover {
      display: block;
    }
  }
}
