@mixin white {
  & > .news__item-caption {
    background-color: #fff;
    color: $base-color;
  }
  &:hover > .news__item-caption {
    background-color: $base-color;
    color: #fff;
  }
}

@mixin yellow {
  & > .news__item-caption {
    background-color: $primary-color;
    color: $base-color;
  }
  &:hover > .news__item-caption {
    background-color: $base-color;
    color: #fff;
  }
}

@mixin black {
  & > .news__item-caption {
    background-color: $base-color;
    color: #fff;
  }
  &:hover > .news__item-caption {
    background-color: $primary-color;
    color: $base-color;
  }
}

@mixin grey {
  & > .news__item-caption {
    background-color: $slider-main-color;
    color: #fff;
  }
  &:hover > .news__item-caption {
    background-color: $base-color;
    color: #fff;
  }
}

.news {
  &__row {
    @include tablet {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
  }
  &__item {
    @include link-reset;
    position: relative;
    display: block;
    height: 250px;
    overflow: hidden;
    color: inherit;
    @include tablet {
      display: inline-block;
      width: 28.7%;
      height: 505px;
      margin-right: 46px;
    }
    @include desktop {
      width: 302px;
    }
    & > img {
      width: 100%;
      height: 100%;
      @include object-fit(cover);
    }
    &--large {
      & .news__item-caption {
        background-color: $primary-color !important;
      }
      @include tablet {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 290px;
        margin-right: 0;
        & > img {
          width: 488px;
        }
        &:hover {
          & .news__item-caption {
            background-color: transparent !important;
            color: inherit !important;

          }
        }
        & .news__item-caption {
          @include tablet {
            width: auto;
            position: relative;
            background-color: transparent !important;
          }
          padding: 14px 30px 36px;
        }
        & .news__item-date {
          display: block;
          line-height: 1.75;
          color: #9b9b9b;
          font-size: 20px;
        }
        & .news__item-title {
          font-size: 24px;
          font-weight: bold;
          line-height: 1.46;
        }
      }
    }

    &--yellow {
      @include yellow
    }

    &--black {
      @include black
    }

    &--white {
      @include white
    }

    &--grey {
      @include grey
    }

    //&:nth-child(18n+1) {
    //  @include white
    //}
    //
    //&:nth-child(18n+2) {
    //  @include yellow
    //}
    //&:nth-child(18n+3) {
    //  @include black
    //}
    //&:nth-child(18n+4) {
    //  @include black
    //}
    //&:nth-child(18n+5) {
    //  @include yellow
    //}
    //&:nth-child(18n+6) {
    //  @include white
    //}
    //&:nth-child(18n+7) {
    //  @include yellow
    //}
    //&:nth-child(18n+8) {
    //  @include white
    //}
    //&:nth-child(18n+9) {
    //  @include black
    //}
    //&:nth-child(18n+10) {
    //  @include white
    //}
    //&:nth-child(18n+11) {
    //  @include black
    //}
    //&:nth-child(18n+12) {
    //  @include yellow
    //}
    //&:nth-child(18n+13) {
    //  @include black
    //}
    //&:nth-child(18n+14) {
    //  @include yellow
    //}
    //&:nth-child(18n+15) {
    //  @include white
    //}
    //&:nth-child(18n+16) {
    //  @include yellow
    //}
    //&:nth-child(18n+17) {
    //  @include white
    //}
    //&:nth-child(18n+18) {
    //  @include black
    //}

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    &-caption {
      width: 100%;
      position: absolute;
      bottom: 0;
      left: 0;
      padding: 12px 20px 18px;
      transition: background-color 133ms ease-in-out, color 133ms ease-in-out;
      @include tablet {
        min-height: 120px;
      }

    }
    &-date {
      display: none;
      font-size: 16px;
      line-height: 2.19;
      text-transform: uppercase;
    }
    &-title {
      font-weight: bold;
      line-height: 1.56;
    }
  }
  &__page {
    &-img {
      width: 100vw;
      height: 240px;
      margin-left: -$content-padding;
      margin-right: -$content-padding;
      margin-bottom: 10px;
      margin-top: -10px;
      pointer-events: none;
      @include object-fit(cover);
      @include tablet {
        width: 100%;
        height: 460px;
        margin: 0 0 10px 0;
      }
    }
    &-date {
      font-size: 12px;
      line-height: 2.92;
      text-transform: uppercase;
      color: #747474;
      &--desktop {
        display: none;
        font-size: 16px;
        line-height: 2.19;
        margin-bottom: 11px;
        @include tablet {
          display: block !important;
        }
      }
      @include tablet {
        display: none;
      }
    }
    &-title {
      margin-bottom: 17px;
      font-size: 20px;
      font-weight: 500;
      line-height: 1.5;
      &--desktop {
        display: none;
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        @include tablet {
          display: block !important;
        }
      }
      @include tablet {
        display: none;
      }
    }
    &-text {
      margin-bottom: 26px;
      @include tablet {
        display: inline-block;
      }
      & p {
        margin: 0;
        line-height: 2.0;
        &:not(last-child) {
          margin-bottom: 25px;
        }
        @include tablet {
          font-size: 22px;
          line-height: 1.67;
        }
      }
    }
    &-sharing {
      @include desktop {
        position: absolute;
        top: 240px;
        right: -270px;
        display: inline-block;
        width: auto;
        vertical-align: top;
      }
      &-title {
        display: none;
        @include tablet {
          display: block;
          font-size: 20px;
          font-weight: 700;
          line-height: 2.4;
        }
      }
      &-item {
        display: inline-block;
        width: 48px;
        height: 48px;
        background-position: 50%;
        background-size: contain;
        &:not(:last-child) {
          margin-right: 12px;
        }
        @include tablet {
          width: 64px;
          height: 64px;
        }
        &--tw {
          background-image: url("#{$img-url}/icons/sharing-twitter.svg");
          &:hover {
            background-image: url("#{$img-url}/icons/sharing-twitter-hover.svg");
          }
        }
        &--vk {
          background-image: url("#{$img-url}/icons/sharing-vk.svg");
          &:hover {
            background-image: url("#{$img-url}/icons/sharing-vk-hover.svg");
          }
        }
        &--fb {
          background-image: url("#{$img-url}/icons/sharing-facebook.svg");
          &:hover {
            background-image: url("#{$img-url}/icons/sharing-facebook-hover.svg");
          }
        }
      }

    }
  }
}


