.numbered-block {
  counter-reset: number-block;
  margin-bottom: 40px;
  &__content {
    display: block;
  }
  &__col-title {
    display: none;
    color: #828282;
    margin-bottom: 20px;
    font-weight: 100;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 1;
    letter-spacing: .8px;
    &:first-child {
      width: calc(20% + 15px);
    }
    @include tablet {
      display: inline-block;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    border-top: 1px solid #dbdbdb;
    padding: 40px 0;
    &:last-child {
      border-bottom: 1px solid #dbdbdb;
    }
    @include tablet {
      flex-direction: row;
    }
    &-title {
      position: relative;
      width: 100%;
      display: inline-block;
      flex-shrink: 0;
      margin: 0 0 20px 0;
      padding-left: 55px;
      &--clean {
        padding-left: 0;
        &:before {
          display: none!important;

        }
      }
      &-text {
        margin-bottom: 12px;
        font-weight: 700;
        font-size: 16px;
        line-height: 1.65;
        &--uppercase {
          text-transform: uppercase;
          letter-spacing: .5px;
          font-size: 14px;
          line-height: 1.28;
        }
      }
      &_desc {
        display: block;
      }
      &:before {
        position: absolute;
        left: 0;
        display: inline-block;
        width: 55px;
        font-size: 56px;
        font-weight: 100;
        line-height: .9;
        color: #9b9b9b;
        counter-increment: number-block;
        content: counter(number-block);
        @include tablet {
          line-height: 1;
        }
      }
      @include tablet {
        width: 20%;
        margin: 0 20px 0 0;
      }

    }
    &-content {
      &-text {
        margin: 0;
        max-width: 660px;
        line-height: 1.75;
        &:not(:last-child) {
          margin-bottom: 15px;
        }
      }
    }
  }
   &__link {
     @include link-reset;
     position: relative;
     display: inline-block;
     width: 160px;
     height: 160px;
     background-color: #ddd;
     margin-right: 40px;
     margin-bottom: 40px;
     overflow: hidden;
     &:hover > .numbered-block__link-img {
       transform: scale(1.1);
     }
     &-text {
       position: absolute;
       top: 12px;
       left: 20px;
       display: block;
       color: #fff;
       z-index: 10;
       width: 120px;
       font-size: 12px;
       line-height: 1.33;
       font-weight: 500;
     }
     &-img {
       @include object-fit(cover);
       display: block;
       width: 100%;
       height: 100%;
       position: absolute;
       top: 0;
       right: 0;
       bottom: 0;
       left: 0;
       z-index: 1;
       transition: transform 233ms ease-in-out;
     }
     &-tint {
       position: absolute;
       top: 0;
       left: 0;
       width: 100%;
       height: 100%;
       background-color: rgba(0,0,0,.5);
       z-index: 5;

     }
   }
}
