.page {
  padding-top: 53px;
  padding-bottom: 55px;
  @include tablet {
    padding-top: 93px;
    padding-bottom: 76px;
  }
  &__heading-group {
    display: inline-block;
    margin-bottom: 54px;
    @include tablet {
      width: 60%;
    }
  }
  &__downloads {
    display: inline-block;
    margin: 0 0 50px 0;
    vertical-align: top;
    @include tablet {
      margin: 0 0 0 50px;
    }
    &-item {
      display: block;
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
  &--promo {
    padding-top: 0;
  }
  &__content {
    @include content;
    &--news {
      @include tablet {
        position: relative;
        padding-left: 0;
        padding-right: 0;
        max-width: 690px;
      }
    }
  }
  &--news {
    @include desktop {
      padding-left: 250px;
    }
    & > .page__content {
      @include desktop {
        padding-left: 0;
        margin-left: 0;
      }
    }
  }
}
