.partnership {
  &__tagline {
    display: block;
    margin-bottom: 20px;
    line-height: 2;
    @include tablet {
      margin-bottom: 35px;
      font-size: 24px;
      line-height: 1.67;
    }
  }
  &__managers {
    margin-bottom: 60px;
    @include tablet {
      margin-bottom: 100px;
    }
    &-card {
      &:not(:last-child){
        margin-bottom: 30px;
        @include tablet {
          margin-right: 30px;
          margin-bottom: 0;
        }
      }
      @include tablet {
        display: inline-block;
        width: 284px;
        vertical-align: top;
      }
    }
    &-name {
      margin: 0 0 6px 0;
      font-size: 24px;
      font-weight: 900;
      line-height: 1.67;
    }
    &-position {
      margin-bottom: 10px;
      line-height: 1.56;
      opacity: .5;
    }
    &-phone {
      margin-bottom: 5px;
      line-height: 1.56;
    }
    &-mail {
      @include link-reset;
      color: $base-color;
    }
  }
  &__cards {
    @include tablet {
      display: none;
    }
    &--desktop {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }
  &__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    &-item {
      @include link-reset;
      width: 40%;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: 100px;
      margin-bottom: 50px;
      color: inherit;
      &-img {
        width: 200px;
        height: 200px;
        margin-right: 50px;
        background-color: #fafafa;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-shrink: 0;
        & > img {
          width: 100%;
          height: auto;
        }
      }
      &-name {
        display: block;
        margin-bottom: 7px;
        font-weight: 900;
      }
      &-desc {
        opacity: .7;
      }
    }

  }
}
