.partners {
  &__content {
    @include content;
    &-title {
      margin: 0 0 17px 0;
      text-transform: uppercase;
      font-size: 18px;
      letter-spacing: 0.9px;
    }
  }
  &__slider {
    &:not(:last-child) {
      margin-bottom: 45px;
    }
  }
  &-page {
    &__inner {
      @include tablet {
        min-height: 250px;
        padding-left: 319px;
      }
      @include desktop {
        padding-right: 142px ;
      }
      & p {
        margin: 0;
        line-height: 2.0;
        &:not(last-child) {
          margin-bottom: 25px;
        }
        @include tablet {
          font-size: 24px;
          line-height: 1.67;
        }
      }
    }
    &__logo {
      display: block;
      width: 284px;
      height: 284px;
      margin: 0 auto 31px;
      background-color: #fafafa;
      @include object-fit(contain);
      @include tablet {
        width: 256px;
        height: 256px;
        position: absolute;
        margin: 0;
      }
    }
    &__title {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.25;
      margin-bottom: 6px;
      text-align: center;
      @include tablet {
        margin-bottom: 26px;
        font-size: 32px;
        font-weight: 900;
        line-height: 1.25;
        text-align: left;
      }
    }
    &__description {
      margin-bottom: 16px;
      text-transform: uppercase;
      line-height: 2.19;
      text-align: center;
      @include tablet {
        margin-bottom: 24px;
        text-align: left;
      }
    }
  }
}
