.promo {
  position: relative;
  background-color: $base-color;
  color: #fff;
  &:before {
    content: "";
    position: absolute;
    display: none; // temporary
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0), #000000);
    z-index: 1;
  }
  &__support {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    max-width: 180px;
    height: 85px;
    padding: 20px;
    z-index: 10;
    @include tablet {
      height: 100px;
      max-width: 100%;
    }
    &-img {
      width: auto;
      height: 100%;
      margin-right: 15px;
    }
    &-text {
      font-weight: 500;
      font-size: 12px;
      @include tablet {
        font-size: 16px;
      }
    }
  }
  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    @include object-fit(cover);
  }
  &__content {
    position: relative;
    min-height: 440px;
    //padding: 112px 18px 150px;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    background-color: rgba(0,0,0,.2);
    z-index: 2;
    @include tablet {
      min-height: 500px;
      //padding: 189px 53px 50px;
    }
    @include desktop {
       //padding: 190px 20px 20px 140px;
    }
    &-img {
      position: absolute;
      top: 50%;
      left: 50%;
      width: 100%;
      max-width: 500px;
      height: auto;
      padding: 0 15px;
      transform: translate(-50%, -50%);
      @include object-fit(contain);
      @include tablet {
        max-width: 600px;
        left: 65%;
      }
      @include desktop {
        max-width: 750px;
      }
    }
  }
  &__over-title,
  &__subtitle {
    display: block;
    margin-bottom: 7px;
    font-size: 16px;
    letter-spacing: -0.2px;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    @include tablet {
      margin-bottom: 10px;
    }
  }
  &__subtitle {
    font-size: 20px;
  }
  &__title {
    margin: 0 0 61px 0;
    font-size: 32px;
    line-height: 1.25;
    text-transform: uppercase;
    text-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
    @include tablet {
      margin: 0 0 31px 0;
      font-size: 48px;
    }
    @include desktop {
       line-height: 1.4;
    }
  }
}
