.stages-block {
  counter-reset: number-block;
  margin-bottom: 40px;
  &__item {
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    &:last-child {
      @include tablet {
        border-bottom: 1px solid #dbdbdb;
      }
    }
    @include tablet {
      flex-direction: row;
      border-top: 1px solid #dbdbdb;
    }
    &-stage {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex-shrink: 0;
      color: #9b9b9b;
      margin-bottom: 22px;
      padding-bottom: 18px;
      border-bottom: 1px solid #dbdbdb;
      @include tablet {
        flex-direction: column;
        justify-content: flex-start;
        border: none;
      }
      &-number {
        display: block;
        font-size: 16px;
        line-height: 1;
        text-transform: uppercase;
        letter-spacing: 1.8px;
        font-weight: 700;
        @include tablet {
          margin-bottom: 14px;
        }
        @include desktop {
          margin-bottom: 16px;
        }
        &:before {
          vertical-align: middle;
          counter-increment: number-block;
          content: counter(number-block);
          line-height: 1.2;
        }
      }
      &-date {
        font-size: 16px;
        text-transform: uppercase;
        letter-spacing: 1.8px;
      }
      @include tablet {
        width: 20%;
        align-items: flex-start;
        margin: 0 20px 0 0;
      }

    }
    &-content {
      &-title {
        margin-bottom: 10px;
        font-size: 22px;
        line-height: 1.27;
        font-weight: 700;
      }
      &-text {
        margin: 0;
        max-width: 660px;
        line-height: 1.75;
      }
    }
  }
}
