.video {
  &__search {
    max-width: 386px;
    margin-bottom: 37px;
  }
  &__archive {
    &-item {
      &:not(:last-child) {
        margin-bottom: 50px;
      }
    }
    &-letter {
      position: relative;
      margin-bottom: 29px;
      padding-bottom: 17px;
      text-transform: uppercase;
      font-size: 14px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        right: -$content-padding;
        display: block;
        width: calc(100% + #{$content-padding});
        height: 1px;
        background-color: #979797;
        @include tablet {
          right: -$content-padding-tablet;
          width: calc(100% + #{$content-padding-tablet});
        }
      }

    }
  }
  &__page {
    &-promo {
      background-color: #f9f8f7;
      padding: 0 0 20px 0;
      @include tablet {
        padding: 55px 0 57px;
      }
      &-inner {
        width: 100%;
        @include tablet {
          width: 640px;
          height: auto;
          margin: 0 auto;
        }
      }
      &-main {
        width: 100%;
        min-height: 180px;
        margin-bottom: 14px;
        background: #333333;
        @include tablet {
          height: 360px;
          margin-bottom: 10px;
        }
      }
      &-title {
        padding: 0 $content-padding;
        font-size: 12px;
        font-weight: bold;
        line-height: 1.67;
        letter-spacing: 1px;
        text-transform: uppercase;
        @include tablet {
          padding: 0;
          font-size: 20px;
          line-height: 1.5;
        }
      }
    }
    &-title {
      margin-bottom: 17px;
      font-size: 14px;
      text-transform: uppercase;
    }
  }
}
