@mixin btn-reset {
  position: relative;

  font-weight: 700;
  text-transform: uppercase;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: 100%;
    z-index: -1;
    transform: rotate3d(0, 0, 1, -45deg) translate3d(0, -3em, 0);
    transform-origin: 0 100%;
    transition: transform 133ms, opacity 133ms, background-color 133ms;
    opacity: 0;
  }
  @media (hover: hover) {
    &:hover {
      cursor: pointer;
      &::before {
        transform: rotate3d(0, 0, 1, 0deg);
        opacity: 1;
      }
    }
  }
  &:active {
    &::before {
      transform: rotate3d(0, 0, 1, 0deg);
      opacity: 1;
    }
  }
  &:active,
  &:focus {
    outline: none;
  }
}
