@mixin content {
  max-width: 1280px;
  margin: 0 auto;
  padding-left: $content-padding;
  padding-right: $content-padding;
  @include tablet {
    padding-left: $content-padding-tablet;
    padding-right: $content-padding-tablet;
  }
  @include desktop {
    padding-left:$content-padding-desktop;
  }
}
