$primary-color: #FFCD00;
$bg-color: #F8F9F9;
$base-color: #000;
$partners-bg-color: #f8f8f8;
$slider-main-color: #888b8d;
$sc-red: #ff5c70;
$sc-lblue: #09aeed;
$sc-green: #1dc94f;
$sc-yelw: #fed611;
$sc-orng: #ffae2b;
$sc-cyan: #50e3c2;
$sc-dblue: #0306ff;

$link-color: #828282;
$link-color-active: #555555;
$pdf-link-color: #747474;

$img-url: "../assets/img";
$font-url: "../assets/fonts";

$safe-web-fonts: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

$grid-breakpoints: (tablet: 1024px, desktop: 1280px) !default;

$content-padding: 18px;
$content-padding-tablet: 12px;
$content-padding-desktop: 140px;

$hamburger-padding-x: 0 !default;
$hamburger-padding-y: 0 !default;
$hamburger-layer-width: 25px !default;
$hamburger-layer-height: 3px !default;
$hamburger-layer-spacing: 6px !default;
$hamburger-layer-color: #fff !default;
$hamburger-layer-border-radius: 4px !default;
$hamburger-hover-transition-duration: 0.15s !default;
$hamburger-hover-transition-timing-function: linear !default;

// To use CSS filters as the hover effect instead of opacity,
// set $hamburger-hover-use-filter as true and
// change the value of $hamburger-hover-filter accordingly.
$hamburger-hover-use-filter: false !default;
$hamburger-hover-filter: opacity(50%) !default;


$schedule-item-width-desktop: 140px;
$schedule-item-width-tablet: 109px;
