.schedule {
  @include desktop {
    margin-bottom: -76px;
  }
  &__content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
    z-index: 10;
    font-size: 0;
  }
}
