.schedule__grid-mobile {
  display: block;
  @include tablet {
    display: none;
  }
  &-title {
    margin: 0 0 20px 0;
  }
  &-select {
    border: 2px solid $base-color;
    border-radius: 0;
    width: 100%;
    height: 50px;
    padding: 0 16px;
    margin-bottom: 25px;
    text-transform: uppercase;
    font-family: inherit;
    font-weight: 500;
    background-color: transparent;
    &:focus {
      outline: none;
    }
  }
  &-item {
    &-day:not(:last-child) {
      margin-bottom: 50px;
    }
    &-title {
      @include link-reset;
      display: inline-block;
      margin-right: 20px;
      margin-bottom: 7px;
      font-size: 20px;
      font-weight: 900;
      text-transform: uppercase;
      &--small {
        font-size: 15px;
        opacity: .4;
      }
    }
    &-desc {
      margin-bottom: 20px;
      padding-bottom: 15px;
      font-size: 14px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 1px;
      line-height: 1.43;
      border-bottom: 1px solid $base-color;
    }
    &-event {
      @include link-reset;
      display: block;
      padding: 15px;
      font-weight: 500;
      border-left: 3px solid rgba(0, 0, 0, .08);
      &:not(:last-child) {
        margin-bottom: 15px;
      }
      &--full {
        margin: 15px 0;
        border: 3px solid rgba(0, 0, 0, .08);
        text-align: center;
      }
      &-type {
        font-size: 10px;
        text-transform: uppercase;
        line-height: 1.67;
      }
      &-time {
        margin-bottom: 7px;
        font-family: "PT Mono", monospace;
        font-weight: bold;
      }
      &-name {
        line-height: 1.25;
      }
    }
    &:not(:first-of-type) {
      display: none;
    }
  }
  &-content {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;
    z-index: 10;
  }
}
