@mixin color($color) {
  &:before {
    background-color: $color;
  }
  &.active {
    background-color: red;
    // border-color: $color;
    &:before {
      background-color: $color;
    }
  }
}

.schedule__grid {
  display: none;
  position: relative;
  background-image: url("#{$img-url}/schedule/bg.jpg");
  background-size: cover;
  background-position: 50%;
  padding-bottom: 90px;
  background-attachment: fixed;
  @include tablet {
    display: block;
  }
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(255, 255, 255, .9);
  }
  &-col {
    position: relative;
    width: $schedule-item-width-tablet;
    display: inline-block;
    vertical-align: top;
    @include desktop {
      width: $schedule-item-width-desktop;
    }
    &:not(:last-child) {
      margin-right: 10px;
    }
    &--time {
      width: 79px;
    }
  }
  &-item {
    @include link-reset;
    position: absolute;
    display: block;
    width: 100%;
    min-height: 100px;
    padding: 15px;
    font-size: 11px;
    font-weight: 500;
    transition: background-color 100ms ease-in-out;
    background-color: rgba(0, 0, 0, .08);
    overflow-wrap: break-spaces;
    &.active {
      background-color: rgba(0, 174, 199, .4);
      &:hover {
        background-color: rgba(0, 174, 199, .2);
      }
    }
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      display: inline-block;
      width: 5px;
      height: calc(100% + 10px);
      transform: translateY(-50%);
    }
    &:hover {
      background-color: rgba($sc-lblue, .5);
    }
    &-time {
      margin-bottom: 5px;
    }
    &--time {
      background-color: #303030;
      color: #fff;
      border: none;
      font-size: 16px;
      text-align: right;
      font-family: PTmono, monospace;
      font-weight: bold;
      line-height: .9;
      cursor: default;
    }
    &--empty {
      opacity: 0;
      pointer-events: none;
    }
    &[data-type='full'] {
      //border: 2px solid #09aeed;
      //background-color: #fff;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 16px;
      font-weight: 500;
      z-index: 500;
      pointer-events: none;
    }
    //&[data-type='main'] {
    //  color: #fff;
    //  background-color: #a54496;
    //  &:hover {
    //    background-color: rgba(#a54496, .9)
    //  }
    //}
    //&[data-type='tech'] {
    //  @include color($sc-red);
    //}
    //
    //&[data-type='architecture'] {
    //  @include color($sc-lblue);
    //}
    //
    //&[data-type='culture'] {
    //  @include color($sc-green);
    //}
    //
    //&[data-type='management'] {
    //  @include color($sc-yelw);
    //}
    //
    //&[data-type='social'] {
    //  @include color($sc-orng);
    //}
    //
    //&[data-type='transport'] {
    //  @include color($sc-cyan);
    //}
    //
    //&[data-type='economy'] {
    //  @include color($sc-dblue);
    //}
  }
}
