@mixin color($color) {
  &:before {
    background-color: $color;
  }
  &.active {
    border-color: $color;
    &:before {
      background-color: $color;
    }
  }
}

.schedule__menu {
  padding: 20px 0 15px;
  background-color: #fff;
  &--sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
    opacity: 0;
    transition: all 133ms;
    transform: translateY(-100%);
    border-bottom: 2px solid $base-color;
    &.show {
      transform: translateY(0);
      opacity: 1;
    }
  }
  &-list {
    margin-bottom: 20px;
  }
  &-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  &-title {
    font-size: 15px!important;
    text-transform: uppercase;
    margin-right: 20px;
    font-weight: 600;
  }
  &-desc {
    font-weight: 500;
    font-size: 15px!important;
    text-transform: uppercase;
  }
  &-venues {
    display: flex;
  }
  &-item {
    @include link-reset;
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 6px 5px;
    font-size: 19px;
    font-weight: 500;
    border-bottom: 5px solid transparent;
    transition: border-color 100ms ease-in-out;
    cursor: pointer;

    &::selection {
      background-color: transparent;
    }

    &.active {
      border-bottom-color: $sc-lblue;
    }

    //&[data-type='tech'] {
    //  @include color($sc-red);
    //}
    //
    //&[data-type='architecture'] {
    //  @include color($sc-lblue);
    //}
    //
    //&[data-type='culture'] {
    //  @include color($sc-green);
    //}
    //
    //&[data-type='management'] {
    //  @include color($sc-yelw);
    //}
    //
    //&[data-type='social'] {
    //  @include color($sc-orng);
    //}
    //
    //&[data-type='transport'] {
    //  @include color($sc-cyan);
    //}
    //
    //&[data-type='economy'] {
    //  @include color($sc-dblue);
    //}

    &:not(:last-child) {
      margin-right: 15px;
    }
    &:before {
      content: '';
      position: absolute;
      left: -5px;
      top: 50%;
      display: inline-block;
      width: 5px;
      height: 25px;
      transform: translateY(-50%);
    }
  }
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
