.schedule__grid-block {
  &-header {
    transition: border-bottom-color 133ms ease-in-out 133ms;
    border-bottom: 2px solid transparent;
    padding: 20px 0 15px;
  }
  &-title {
    opacity: .9;
    text-transform: uppercase;
    margin: 0 0 14px;
    font-size: 32px;
  }
  &-desc {
    display: block;
    margin-bottom: 24px;
    padding-bottom: 10px;
    font-size: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-weight: 500;
    border-bottom: 1px solid $base-color;
  }
  &-venue {
    display: flex;
    margin-bottom: 10px;
    &-item {
      width: $schedule-item-width-tablet;
      background: #cacaca;
      padding: 10px;
      font-size: 10px;
      font-weight: 500;
      @include desktop {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        width: $schedule-item-width-desktop;
        height: 60px;
      }
      &--main {
        line-height: 1.25;
        font-size: 16px;
      }
      &--initial {
        position: relative;
        width: 79px;
        overflow: hidden;
        &:before {
          content: '';
          position: absolute;
          height: 100px;
          top: 35%;
          right: 0;
          bottom: 0;
          left: -73%;
          background-color: #303030;
          transform: rotate(37deg);
        }
      }
      &:not(:last-child) {
        margin-right: 10px;
      }
      &-info {
        margin-bottom: 7px;
        @include desktop {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
        }
      }
      &-name {
        font-size: 20px;
        line-height: 1;
      }
    }
  }

}
