mixin scheduleVenue(name, amount, desc)
  .schedule__grid-block-venue-item
    .schedule__grid-block-venue-item-info
      .schedule__grid-block-venue-item-name= name
      .schedule__grid-block-venue-item-amount= amount
    .schedule__grid-block-venue-item-desc= desc
