mixin scheduleGridMobile
  .schedule__grid-mobile
    .schedule__grid-mobile-content
      h2.schedule__grid-mobile-title Расписание:
      select.schedule__grid-mobile-select
        option(value='room-1' selected) Зал 1 (190 мест)
        option(value='room-2') Зал 2 (120 мест)
        option(value='room-3') Зал 3 (130 мест)
      .schedule__grid-mobile-item(id='room-1')
        .schedule__grid-mobile-item-day
          a#day_1
          .schedule__grid-mobile-item-title День 1
          a(href="#day_2").schedule__grid-mobile-item-title.schedule__grid-mobile-item-title--small День 2
          .schedule__grid-mobile-item-desc Пленарное заседание дня «Город будущего. Сценарии, вызовы, лидерство»
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Конструктор комфорта. Мегаполис удобный для жизни
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Город в один клик. Технологии меняют образ жизни
          a(href="").schedule__grid-mobile-item-event.schedule__grid-mobile-item-event--full Обед для обладателей VIP билетов
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Экономика мегаполиса будущего. На что делать ставку?
        .schedule__grid-mobile-item-day
          a#day_2
          .schedule__grid-mobile-item-title День 2
          a(href="#day_1").schedule__grid-mobile-item-title.schedule__grid-mobile-item-title--small День 1
          .schedule__grid-mobile-item-desc Пленарное заседание дня «Город будущего. Сценарии, вызовы, лидерство»
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          .schedule__grid-mobile-item-event.schedule__grid-mobile-item-event--full Обед для обладателей VIP билетов
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
      .schedule__grid-mobile-item(id='room-2')
        .schedule__grid-mobile-item-day
          .schedule__grid-mobile-item-title День 1
          .schedule__grid-mobile-item-title.schedule__grid-mobile-item-title--small День 2
          .schedule__grid-mobile-item-desc Пленарное заседание дня «Город будущего. Сценарии, вызовы, лидерство»
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          .schedule__grid-mobile-item-event.schedule__grid-mobile-item-event--full Обед для обладателей VIP билетов
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
        .schedule__grid-mobile-item-day
          .schedule__grid-mobile-item-title День 2
          .schedule__grid-mobile-item-title.schedule__grid-mobile-item-title--small День 1
          .schedule__grid-mobile-item-desc Пленарное заседание дня «Город будущего. Сценарии, вызовы, лидерство»
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента
          a(href="").schedule__grid-mobile-item-event.schedule__grid-mobile-item-event--full Обед для обладателей VIP билетов
          a(href="").schedule__grid-mobile-item-event
            .schedule__grid-mobile-item-event-type АРХИТЕКТУРА
            .schedule__grid-mobile-item-event-time 10:00-12:00
            .schedule__grid-mobile-item-event-name Новое массовое жилье. Мировые практики масштабного редевелопмента

