mixin scheduleMenu
  .schedule__menu
    .schedule__content
      .schedule__menu-item(data-type='architecture') Архитектура
      .schedule__menu-item(data-type='management') Городское планирование
      .schedule__menu-item(data-type='culture') Культура
      .schedule__menu-item(data-type='social') Социология
      .schedule__menu-item(data-type='tech') Технологии
      .schedule__menu-item(data-type='transport') Транспорт
      .schedule__menu-item(data-type='economy') Экономика
