include schedule-venue

mixin scheduleMenuSticky
  .schedule__menu.schedule__menu--sticky
    .schedule__content
      .schedule__menu-list
        .schedule__menu-item(data-type='architecture') Архитектура
        .schedule__menu-item(data-type='management') Городское планирование
        .schedule__menu-item(data-type='culture') Культура
        .schedule__menu-item(data-type='social') Социология
        .schedule__menu-item(data-type='tech') Технологии
        .schedule__menu-item(data-type='transport') Транспорт
        .schedule__menu-item(data-type='economy') Экономика
      .schedule__menu-info
        .schedule__menu-title День 1
        .schedule__menu-desc ПЛЕНАРНОЕ ЗАСЕДАНИЕ ДНЯ «ГОРОД БУДУЩЕГО. СЦЕНАРИИ, ВЫЗОВЫ, ЛИДЕРСТВО»
      .schedule__menu-venues
          .schedule__grid-block-venue-item.schedule__grid-block-venue-item--main Пленарная</br>сцена
          +scheduleVenue('Зал 1', '190 мест', 'Панельная дискуссия')
          +scheduleVenue('Зал 2', '120 мест', 'Панельная дискуссия')
          +scheduleVenue('Зал 3', '100 мест', 'Панельная дискуссия')
          +scheduleVenue('Зал 4', '166 мест', 'Страт. сессия')
          +scheduleVenue('Зал 5', '166 мест', 'Ток-шоу')
          +scheduleVenue('Зал 6', '100 мест', 'Интервью')
          +scheduleVenue('Зал 7', '80 мест', 'TED')

