include schedule-menu
include schedule-menu-sticky
include schedule-venue

mixin scheduleGrid
  .schedule__grid
    +scheduleMenu
    +scheduleMenuSticky
    .schedule__grid-block
      .schedule__grid-block-header
        .schedule__content
          h1.schedule__grid-block-title 17 ИЮЛЯ
          span.schedule__grid-block-desc СОВРЕМЕННЫЙ МЕГАПОЛИС. РЕЗУЛЬТАТЫ ПОСТИНДУСТРИАЛЬНОЙ ТРАНСФОРМАЦИИ
          .schedule__grid-block-venue
            .schedule__grid-block-venue-item.schedule__grid-block-venue-item--main Пленарная</br>сцена
            +scheduleVenue('Зал 1', '190 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 2', '120 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 3', '100 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 4', '166 мест', 'Страт. сессия')
            +scheduleVenue('Зал 5', '166 мест', 'Ток-шоу')
            +scheduleVenue('Зал 6', '100 мест', 'Интервью')
            +scheduleVenue('Зал 7', '80 мест', 'TED')

      .schedule__grid-block-body
        .schedule__content
          .schedule__grid-col.schedule__grid-col--main
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:30
              .schedule__grid-item-title Презентация «Зарядье как модель. Стратегический выбор при редевелопменте центра города»
            a(href='/event-page.html' data-type='full').schedule__grid-item
              .schedule__grid-item-time 11:45 - 12:45
              .schedule__grid-item-title Обед для обладателей VIP билетов
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 13:00 - 13:30
              .schedule__grid-item-title Открывающее пленарное заседание MUF
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 14:15 - 15:15
              .schedule__grid-item-title Диалог архитекторов:Рем Колхас
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 16:00 - 17:00
              .schedule__grid-item-title Лекция технолога: Аиша Бин Бишр
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 18:00 - 19:00
              .schedule__grid-item-title Лекция экономиста: Брюс Катц
            .schedule__grid-item(data-type='main')
              .schedule__grid-item-time 20:00 - 21:00
              .schedule__grid-item-title Вечерние шоу

          .schedule__grid-col
            a(href='/event-page.html' data-type='management transport').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Реновация и среда. Как крупные проекты редевелопмента влияют на города?
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Город в один клик. Технологии в жизни горожанина
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Экономика столицы будущего. Вызовы и решения
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Как по рельсам. Наземное метро как будущее транспортной системы мегаполиса
            a(href='#' data-type='transport').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Старость – не порок. Мегаполисы и вызов меняющейся демографии

          .schedule__grid-col
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Городской климат-контроль. От техногенного к устойчивому ландшафту
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Экспериментальные гайдлайны. Как меняются подходы к градостроительному регулированию
            a(href='#' data-type='transport').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Массовое жилье как драйвер инноваций. Опыт мировых мегаполисов
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Промышленные зоны. Что нужно городу и чего хочет девелопер?
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title «Устойчивый транспорт». Экологичность как новая оптика транспортной политики

          .schedule__grid-col
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Городская мануфактура.. Новая конкурентная среда и городская промышленность
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Стратегия Smart City. Город как платформа
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Город-праздник. Городские события как драйвер городской экономики
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Доступные миллиарды. Как качественно нарастить рынок ипотеки?

          .schedule__grid-col
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:30
              .schedule__grid-item-title Город-эгоист или город-аскет? Сценарии и экономика городского девелопмента
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:45
              .schedule__grid-item-title Берегись, автомобиль! Хроники транспортной революции
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 14:55 - 16:25
              .schedule__grid-item-title Благоустройство. Как измерить эффекты для города?
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 16:35 - 18:05
              .schedule__grid-item-title Из чего сделать город? «Умные» технологии будущего – блокчейн, AI, VR, Big Data, IoT

          .schedule__grid-col
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Автоматическая логистика. Выгоды и риски новой транспортной модели
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Окно в Европу. Удалось ли Москве найти общий язык с иностранными архитекторами?
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Женщины, которые меняют представление о профессии архитектора
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Магистр городского администрирования. Какое образование нужно городским лидерам?
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Цифровая экономика. Инфраструктура для умного города

          .schedule__grid-col
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Страна мегаполисов. Региональные власти и развитие городов-миллионников
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 13:15 - 13:55
              .schedule__grid-item-title Деньги на город. За и против децентрализации бюджетной политики
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 14:05 - 14:45
              .schedule__grid-item-title Стратегия или мегапроект. Есть ли альтернативы крупномасштабным проектам?
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 14:55 - 15:35
              .schedule__grid-item-title XX век представляет. Практики и подходы к работе с наследием прошлого века
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:25
              .schedule__grid-item-title Город как живая лаборатория. Тестирование идей для будущего
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 16:35 - 17:05
              .schedule__grid-item-title Новая культура в старой оболочке. Как использовать выходящие из моды пространства?
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 17:15 - 17:55
              .schedule__grid-item-title Городу и миру. Лучшие практики коммуникации городских инициатив

          .schedule__grid-col
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Смарт-технологии в работе с горожанами
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Арендное, умное, совместное. Модели жилья будущего
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Осторожно – беспилотники. Экономика, регулирование и технологии перехода к беспилотному городу
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Когда улица интереснее гаджета. Как сделать город привлекательным для детей?
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Мегапроекты будущего. Визионерство или реальность?
    .schedule__grid-block
      .schedule__grid-block-header
        .schedule__content
          h1.schedule__grid-block-title 18 ИЮЛЯ
          span.schedule__grid-block-desc ПЛЕНАРНОЕ ЗАСЕДАНИЕ ДНЯ «ГОРОД БУДУЩЕГО. СЦЕНАРИИ, ВЫЗОВЫ, ЛИДЕРСТВО»
          .schedule__grid-block-venue
            .schedule__grid-block-venue-item.schedule__grid-block-venue-item--main Пленарная</br>сцена
            +scheduleVenue('Зал 1', '190 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 2', '120 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 3', '100 мест', 'Панельная дискуссия')
            +scheduleVenue('Зал 4', '166 мест', 'Страт. сессия')
            +scheduleVenue('Зал 5', '166 мест', 'Ток-шоу')
            +scheduleVenue('Зал 6', '100 мест', 'Интервью')
            +scheduleVenue('Зал 7', '80 мест', 'TED')

      .schedule__grid-block-body
        .schedule__content
          .schedule__grid-col.schedule__grid-col--main
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:30
              .schedule__grid-item-title Презентация «Зарядье как модель. Стратегический выбор при редевелопменте центра города»
            a(href='/event-page.html' data-type='full').schedule__grid-item
              .schedule__grid-item-time 11:45 - 12:00
              .schedule__grid-item-title Обед для обладателей VIP билетов
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 12:30 - 13:300
              .schedule__grid-item-title Открывающее пленарное заседание MUF
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 14:15 - 15:15
              .schedule__grid-item-title Диалог архитекторов:Рем Колхас
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 16:00 - 17:00
              .schedule__grid-item-title Лекция технолога: Аиша Бин Бишр
            a(href='/event-page.html' data-type='main').schedule__grid-item
              .schedule__grid-item-time 18:00 - 19:00
              .schedule__grid-item-title Лекция экономиста: Брюс Катц
            .schedule__grid-item(data-type='main')
              .schedule__grid-item-time 20:00 - 21:00
              .schedule__grid-item-title Вечерние шоу

          .schedule__grid-col
            a(href='/event-page.html' data-type='management').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Реновация и среда. Как крупные проекты редевелопмента влияют на города?
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Город в один клик. Технологии в жизни горожанина
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Экономика столицы будущего. Вызовы и решения
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Как по рельсам. Наземное метро как будущее транспортной системы мегаполиса
            a(href='#' data-type='transport').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Старость – не порок. Мегаполисы и вызов меняющейся демографии

          .schedule__grid-col
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Городской климат-контроль. От техногенного к устойчивому ландшафту
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Экспериментальные гайдлайны. Как меняются подходы к градостроительному регулированию
            a(href='#' data-type='transport').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Массовое жилье как драйвер инноваций. Опыт мировых мегаполисов
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Промышленные зоны. Что нужно городу и чего хочет девелопер?
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title «Устойчивый транспорт». Экологичность как новая оптика транспортной политики

          .schedule__grid-col
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Городская мануфактура.. Новая конкурентная среда и городская промышленность
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Стратегия Smart City. Город как платформа
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Город-праздник. Городские события как драйвер городской экономики
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Доступные миллиарды. Как качественно нарастить рынок ипотеки?

          .schedule__grid-col
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:30
              .schedule__grid-item-title Город-эгоист или город-аскет? Сценарии и экономика городского девелопмента
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:45
              .schedule__grid-item-title Берегись, автомобиль! Хроники транспортной революции
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 14:55 - 16:25
              .schedule__grid-item-title Благоустройство. Как измерить эффекты для города?
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 16:35 - 18:05
              .schedule__grid-item-title Из чего сделать город? «Умные» технологии будущего – блокчейн, AI, VR, Big Data, IoT

          .schedule__grid-col
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Автоматическая логистика. Выгоды и риски новой транспортной модели
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Окно в Европу. Удалось ли Москве найти общий язык с иностранными архитекторами?
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Женщины, которые меняют представление о профессии архитектора
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Магистр городского администрирования. Какое образование нужно городским лидерам?
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Цифровая экономика. Инфраструктура для умного города

          .schedule__grid-col
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Страна мегаполисов. Региональные власти и развитие городов-миллионников
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 13:15 - 13:55
              .schedule__grid-item-title Деньги на город. За и против децентрализации бюджетной политики
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 14:05 - 14:45
              .schedule__grid-item-title Стратегия или мегапроект. Есть ли альтернативы крупномасштабным проектам?
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 14:55 - 15:35
              .schedule__grid-item-title XX век представляет. Практики и подходы к работе с наследием прошлого века
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:25
              .schedule__grid-item-title Город как живая лаборатория. Тестирование идей для будущего
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 16:35 - 17:05
              .schedule__grid-item-title Новая культура в старой оболочке. Как использовать выходящие из моды пространства?
            a(href='#' data-type='architecture').schedule__grid-item
              .schedule__grid-item-time 17:15 - 17:55
              .schedule__grid-item-title Городу и миру. Лучшие практики коммуникации городских инициатив

          .schedule__grid-col
            a(href='#' data-type='culture').schedule__grid-item
              .schedule__grid-item-time 10:00 - 11:00
              .schedule__grid-item-title Смарт-технологии в работе с горожанами
            a(href='#' data-type='economy').schedule__grid-item
              .schedule__grid-item-time 13:15 - 14:15
              .schedule__grid-item-title Арендное, умное, совместное. Модели жилья будущего
            a(href='#' data-type='tech').schedule__grid-item
              .schedule__grid-item-time 14:30 - 15:30
              .schedule__grid-item-title Осторожно – беспилотники. Экономика, регулирование и технологии перехода к беспилотному городу
            a(href='#' data-type='social').schedule__grid-item
              .schedule__grid-item-time 15:45 - 16:45
              .schedule__grid-item-title Когда улица интереснее гаджета. Как сделать город привлекательным для детей?
            a(href='#' data-type='management').schedule__grid-item
              .schedule__grid-item-time 17:00 - 18:00
              .schedule__grid-item-title Мегапроекты будущего. Визионерство или реальность?
