include ../blocks/header
include ../blocks/footer
include ../blocks/footer-mobile
include ../blocks/menu-mobile
doctype html
html(lang='ru')
  head
    meta(charset='utf-8')
    meta(name='description', content='')
    meta(name='format-detection', content='telephone=no')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Moscow Urban Forum
    link(rel='apple-touch-icon-precomposed', sizes='152x152', href='apple-touch-icon-152x152.png')
    link(rel='apple-touch-icon-precomposed', sizes='144x144', href='apple-touch-icon-144x144.png')
    link(rel='icon', type='image/png', href='favicon-32x32.png', sizes='32x32')
    link(rel='icon', type='image/png', href='favicon-16x16.png', sizes='16x16')
    link(rel='shortcut icon', href='favicon.ico', type='image/x-icon')
    // Place favicon.ico in the root directory

    // build:css styles/vendor.css
    // endbuild

    // build:css styles/main.css
    link(rel='stylesheet', href='styles/index.css')
    // endbuild

  body(ontouchstart)
    <!--[if lt IE 10]>
    p.browserupgrade You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
    <![endif]-->
    .container
      +header
      +menu-mobile
      block content
      +footer
      +footer-mobile

    // build:js scripts/vendor.js
    // endbuild
    script(src='https://code.jquery.com/jquery-1.11.0.min.js')
    script(src='https://code.jquery.com/jquery-migrate-1.2.1.min.js')
    script(src='http://vk.com/js/api/xd_connection.js?2"')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js')
    script(src='https://unpkg.com/micromodal/dist/micromodal.min.js')
    // build:js scripts/main.js
    script(src='scripts/owl.carousel.js')
    script(src='scripts/lightbox.js')
    script(src='scripts/ofi.js')
    script(src='scripts/main.js')
    script(src='scripts/schedule.js')
    script(src='scripts/fest-program.js')
    // endbuild
