* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html,
body,
.container {
  height: 100%;
}

body {
  font-family: GraphikLC, $safe-web-fonts;
  font-weight: 300;
  color: $base-color;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-feature-settings: "kern";
}

.container {
  display: flex;
  flex-direction: column;
  &--headless {
    & .header {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }
}

.header,
.footer {
  flex: none;
}

.mainer {
  flex: 1;
}

b, strong {
  font-weight: 700;
}
