.page-title {
  display: block;
  margin: 0 0 27px 0;
  font-size: 28px;
  font-weight: 900;
  line-height: 1.25;
  @include tablet {
    font-size: 52px;
    margin-bottom: 45px;
  }
}

a.page-title {
  @include link-reset;
}

.page-description {
  font-size: 20px;
  font-weight: 900;
  line-height: 1.2;
  @include tablet {
    font-size: 32px;
  }
};

.page-subtitle {
  display: block;
  padding-bottom: 34px;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.64;
}

.paragraph {
  margin: 0;
  line-height: 2.0;
  &:not(last-child) {
    margin-bottom: 25px;
  }
  @include tablet {
    font-size: 24px;
    line-height: 1.67;
  }
}

.main__title {
  font-size: 38px;
  font-weight: 900;
  @include tablet {
    font-size: 52px;
  }
}
