.link {
  @include link-reset;
  color: $link-color;
  font-size: 14px;
  border-bottom: 1px solid transparent;
  line-height: 1;
  font-weight: 500;
  @media (hover: hover) {
    &:hover {
      border-bottom-color: $link-color;
    }
  }
  &--pdf {
    position: relative;
    margin-left: 29px;
    border-bottom-color: $link-color;
    @media (hover: hover) {
      &:hover {
        border-bottom-color: transparent;
      }
    }
    &:active {
      color: $link-color-active;
      border-bottom-color: transparent;
    }
    &:before {
      content: '';
      position: absolute;
      top: 50%;
      left: -29px;
      display: block;
      width: 24px;
      height: 24px;
      background-image: url("#{$img-url}/icons/file-icon.svg");
      transform: translateY(-50%);
    }
  }
}
