.primary-button {
  @include btn-reset;
  padding: 8px 22px 9px;
  font-size: 20px;
  border: 5px solid $primary-color;
  color: $primary-color;
  background-color: transparent;
  &:before {
    background-color: $primary-color;
  }
  @media (hover: hover) {
    &:hover {
      color: $base-color;
    }
  }
  &:active {
    color: $base-color;
  }
}
