.search-input {
  @include input-reset;
  display: block;
  position: relative;
  width: 100%;
  padding: 13px 72px 14px 14px;
  background-color: #f3f3f3;
  border: solid 1px #9b9b9b;
  font-size: 18px;
  color: #9b9b9b;
  &:focus {
    border-color: $base-color;
    background-color: #fff;
    color: $base-color;
    background-image: linear-gradient(to bottom, #fff 0, #fff 41px, $primary-color 4px);
  }
  &:after {
    position: absolute;
    right: 20px;
    top: 50%;
    display: block;
    content: '';
    width: 17px;
    height: 17px;
    background-image: url("#{$img-url}/icons/search-icon.svg");
    transform: translateY(-50%);
  }
}
