.secondary-button {
  @include btn-reset;
  display: inline-block;
  padding: 16px 21px 14px 47px;
  font-size: 16px;
  border: 2px solid $base-color;
  color: $base-color;
  text-decoration: none;
  @include tablet {
    padding: 16px 27px 14px 58px;
  }
  &:before {
    background-color: $base-color;
  }
  &:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 15px;
    display: inline-block;
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
    background-image: url("#{$img-url}/icons/file-icon-black.svg");
    @include tablet {
      left: 24px;
    }
  }
  @media (hover: hover) {
    &:hover {
      color: #fff;
      &:after {
        background-image: url("#{$img-url}/icons/file-icon-white.svg");
      }
    }
  }
  &:active {
    color: #e5e5e5;
    &:after {
      background-image: url("#{$img-url}/icons/file-icon-grey.svg");
    }
  }
}
