include ../components/secondary-button
mixin award
  section.info
    .info__top
      img.info__top-img(src='assets/img/muf-awards.svg')
    .info__text
      p.info__text-block.
        Премия <b>MUF Community Awards</b> — первая мультидисциплинарная премия городских сообществ, независимых проектов, частных инициатив и стартапов, внесших значительный вклад в развитие Москвы.
      p.info__text-block.
        В центре внимания премии — <b>Disruptive Communities</b> —  те проекты и  организации, чья деятельность существенно изменила, перевернула, определила развитие определенной сферы городской жизни.
      p.info__text-block.
        <b>7 июля</b> в культурно-деловом комплексе «Большевик» состоялась церемония награждения победителей официальной премии MUF’17 Community Awards Московского урбанистического форума. Награды получили городские сообщества, независимые проекты и частные инициативы, которые внесли большой вклад в развитие Москвы.
      a(href='#').info__more-link Подробнее о MUF COMMUNITY AWARDS

    .info__winners
      h4.info__winners-title Победители
      .info__winners-item
        .info__winners-item-name Политехнический музей на ВДНХ
        .info__winners-item-desc Сфера развлечений и досуга
      .info__winners-item
        .info__winners-item-name Проект «Учи.Ру»
        .info__winners-item-desc Научно-образовательные инициативы
      .info__winners-item
        .info__winners-item-name Зеленый марафон «Бегущие сердца»
        .info__winners-item-desc Спортивно-оздоровительные проекты
      .info__winners-item
        .info__winners-item-name Приложение FindFace
        .info__winners-item-desc Городские технологии
      .info__winners-item
        .info__winners-item-name Проект «Делись добром, Москва»
        .info__winners-item-desc Благотворительные  и социальные проекты
      .info__winners-item
        .info__winners-item-name Проект «Москва. Детали»
        .info__winners-item-desc Городские СМИ и блоги
      .info__winners-item
        .info__winners-item-name Спектакль «Черный русский»
        .info__winners-item-desc Культурные инициативы
      .info__winners-item
        .info__winners-item-name Интенсив ХХ: Третьяковская галерея  в метро
        .info__winners-item-desc Городской дизайн
