include ../components/pdf-button
include slider/photo-slider

mixin fest
  section.info
    .info__top
      img.info__top-img(src='assets/img/muf-fest.svg')
      .info__top-action
        +pdf-button('http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf', 'Программа фестиваля')
    .info__text
      p.
        MUF Fest — это открытая программа
        Moscow Urban Forum 2017 о городских сообществах,
        частных инициативах и проектах, меняющих жизнь города.
        Фестиваль в этом году впервые стал резидентом деловой
        программы и расположится в зале «Community Stage»,
        где 6–7 июля прошли презентации и дискуссии о роли сообществ в развитии мегаполисов.
      p.
        Помимо этого, в течение четырёх дней (6–9 июля)
        на открытых городских площадках состоялись публичные лекции
        и интервью звездных спикеров Форума, воркшопы,
        серия беговых экскурсий, концерты независимой музыки,
        выставка городского искусства, воркшопы и питч-сессии городских стартапов.
      a(href='#').info__more-link Подробнее о MUF FEST
    .info__slider
       +photo-slider

