mixin footer-mobile
  footer.footer__mob

    .footer__mob-inner

      .footer__mob-section
        h3.footer__mob-section-title Разделы
        nav.footer__mob-nav
          a(href="#").footer__mob-nav-item Форум 2017
          a(href="#").footer__mob-nav-item Новости
          a(href="#").footer__mob-nav-item Календарь
          a(href="#").footer__mob-nav-item Фестиваль
          a(href="#").footer__mob-nav-item Премия
          a(href="#").footer__mob-nav-item Партнеры
          a(href="#").footer__mob-nav-item Библиотека
          a(href="#").footer__mob-nav-item Видео

      .footer__mob-section
        h3.footer__mob-section-title Архив
        nav.footer__mob-nav
          a(href="#").footer__mob-nav-item 2016
          a(href="#").footer__mob-nav-item 2015
          a(href="#").footer__mob-nav-item 2014
          a(href="#").footer__mob-nav-item 2013

      .footer__mob-section.footer__mob-section--small-indent
        h3.footer__mob-section-title Контакты
        span.footer__mob-section-text 8 499 641-15-82<br/>#[a.footer__mob-link(href='mailto:welcome@mosurbanforum.ru' target="_blank") welcome@mosurbanforum.ru]

      .footer__mob-section.footer__mob-section--small-indent
        h4.footer__mob-section-title.footer__mob-section-title--secondary Адрес офиса
        span.footer__mob-section-text ВДНХ, домовладение 119, павильон № 75,<br/>проспект Мира, Москва, 129223

      .footer__mob-section.footer__mob-section--small-indent
        h4.footer__mob-section-title.footer__mob-section-title--secondary Стать подрядчиком
        span.footer__mob-section-text #[a.footer__mob-link(href='mailto:tenders@mosurbanforum.ru' target="_blank") tenders@mosurbanforum.ru]

      .footer__mob-section.footer__mob-section--marked.footer__mob-section--small-indent
        h3.footer__mob-section-title По вопросам партнерства  и спонсорства
        span.footer__mob-section-text 8 499 641-15-82<br/>#[a.footer__mob-link(href='mailto:partner@mosurbanforum.ru' target="_blank") partner@mosurbanforum.ru]

      .footer__mob-section.footer__mob-section--small-indent
        h4.footer__mob-section-title.footer__mob-section-title--secondary Арина Дробина
        span.footer__mob-section-text директор по маркетингу

      .footer__mob-section
        h4.footer__mob-section-title.footer__mob-section-title--secondary Наталья Дубовик
        span.footer__mob-section-text менеджер по работе с партнерами

      .footer__mob-copyright © Moscow Urban Forum, 2017
