mixin footer
  footer.footer
    .footer__social
      .footer__social-content
        a.footer__social-item(href='#')
          img.footer__social-icon.footer__social-icon--fb(src='assets/img/footer/fb.svg')
        a.footer__social-item(href="#")
          img.footer__social-icon.footer__social-icon--vk(src='assets/img/footer/vk.svg')
        a.footer__social-item(href="#")
          img.footer__social-icon.footer__social-icon--yt(src='assets/img/footer/yt.svg')
        a.footer__social-item(href="#")
          img.footer__social-icon.footer__social-icon--ig(src='assets/img/footer/ig.svg')
    .footer__content
      .footer__row
        img.footer__logo(
        src='assets/img/logo-simple.png',
        width='100%',
        height='100%',
        title='Moscow Urban Forum'
        )
        .footer__info
          h1.footer__info-title.
            MOSCOW URBAN FORUM — крупнейший международный конгресс, посвященный вызовам развития глобальных мегаполисов.
            Форум проводится ежегодно с 2011 года.
          span.footer__info-text.
            MUF объединяет представителей городских администраций России и мира, архитекторов, градостроителей, девелоперов,
            руководителей финансовых компаний, инвесторов, технологические стартапы, представителей медиа  и горожан.
      .footer__row
        .footer__block
          h2.footer__block-title Разделы
          a.footer__nav-item(href='#') Форум 2017
          a.footer__nav-item(href='#') Видео выступлений
          a.footer__nav-item(href='#') Календарь
          a.footer__nav-item(href='#') Новости
        .footer__block
          h2.footer__block-title Архив
          a.footer__nav-item(href='#') 2012
          a.footer__nav-item(href='#') 2013
          a.footer__nav-item(href='#') 2014
          a.footer__nav-item(href='#') 2016
        .footer__block
          h2.footer__block-title Контакты
          div.footer__phone 8 499 641-15-82
          a.footer__link(href='mailto:welcome@mosurbanforum.ru' target="_blank") welcome@mosurbanforum.ru
          .footer__decorated-block
            h2.footer__decorated-block-title Адрес офиса
            span.footer__decorated-block-content ВДНХ, домовладение 119, павильон № 75, проспект Мира, Москва, 129223
        .footer__block
          h2.footer__block-title По вопросам партнерста и спонcорства
          span 8 499 641-15-82 | #[a.footer__link(href='mailto:partner@mosurbanforum.ru') partner@mosurbanforum.ru]
          .footer__people
            .footer__decorated-block
              h2.footer__decorated-block-title Арина Дробина
              span.footer__decorated-block-content директор по маркетингу
            .footer__decorated-block
              h2.footer__decorated-block-title Наталья Дубовик
              span.footer__decorated-block-content менеджер по работе с партнерами

          .footer__tender
            strong Стать подрядчиком:&nbsp;
            a.footer__link(href='mailto:tenders@mosurbanforum.ru') tenders@mosurbanforum.ru
      .footer__copyright © Moscow Urban Forum, 2017
