include menu
mixin header
  header.header
    a(href="/").header__logo
      img(
        src='./assets/img/logo.svg'
        srcset='./assets/img/logo.svg 2x, ./assets/img/logo.svg 3x'
      )

    +menu
    .header__registration
      a.header__registration-btn(href="#") Регистрация
    a.header__language-link(href='#') en
    div.header__nav-toggle
      .hamburger.hamburger--squeeze
        .hamburger-box
          .hamburger-inner
