include ../components/pdf-link
include slider/photo-slider

mixin main-history
  section.history
    a(id='main-history')
    a(href='#').history__title Как это было в&nbsp;2017
    .history__stats
      - var items = [{"number":"68", "text":"стран-участниц"}, {"number":"414", "text":"спикеров"}, {"number":"10847", "text":"участников деловой программы"}, {"number":"71000", "text":"посетителей программы MUF Fest и MUF Expo"}]
      each item in items
        .history__stats-item
          .history__stats-number= item.number
          .history__stats-desc= item.text
    .history__slider
      +photo-slider

    .history__pdf
      +pdf-link('http://unec.edu.az/application/uploads/2014/12/pdf-sample.pdf', 'Программа конгресса в PDF')
