mixin menu
  nav.menu
    ul.menu__row
      li.menu__item
        a(href='#main-history') Форум 2017
      li.menu__item
        a(href='/news-list.html') Новости
      li.menu__item
        a(href='/calendar.html#month_2_2018') Календарь
      li.menu__item
        a(href='/fest.html') Фестиваль
      li.menu__item
        a(href='#') Премия
    ul.menu__row
      li.menu__item
        a(href='/partnership.html') Партнеры
      li.menu__item
        a(href='/library.html') Библиотека
      li.menu__item
        a(href='/video.html') Видео
      li.menu__item.menu__item--dropdown
        div Архив
        ul.menu__dropdown
          li.menu__item
            a(href='/') Форум 2016
          li.menu__item
            a(href='/') Форум 2015
          li.menu__item
            a(href='/') Форум 2014
