mixin menu-mobile
  nav.menu-mobile
    .menu-mobile__inner
      ul.menu-mobile__list
        li.menu-mobile__item
          a(href='#') Форум 2017
        li.menu-mobile__item
          a(href='/news-list.html') Новости
        li.menu-mobile__item
          a(href='/calendar.html') Календарь
        li.menu-mobile__item
          a(href='/fest.html') Фестиваль
        li.menu-mobile__item
          a(href='#') Премия
        li.menu-mobile__item
          a(href='/partnership.html') Партнеры
        li.menu-mobile__item
          a(href='/library.html') Библиотека
        li.menu-mobile__item
          a(href='/video.html') Видео
      ul.menu-mobile__archive
        .menu-mobile__archive-title Архив
        li.menu-mobile__item.menu-mobile__item--horizontal
          a(href='#') 2016
        li.menu-mobile__item.menu-mobile__item--horizontal
          a(href='#') 2015
        li.menu-mobile__item.menu-mobile__item--horizontal
          a(href='#') 2014
        li.menu-mobile__item.menu-mobile__item--horizontal
          a(href='#') 2013
      .menu-mobile__social
        .menu-mobile__social-item.menu-mobile__social-item--ig
        .menu-mobile__social-item.menu-mobile__social-item--yt
        .menu-mobile__social-item.menu-mobile__social-item--vk
        .menu-mobile__social-item.menu-mobile__social-item--fb
