include slider/partners-slider

mixin partners
  section.partners
    a(href='#').page-title Партнеры и спонсоры
    h3.partners__content-title Компании
    .partners__slider
      +partners-slider
    h3.partners__content-title медиа
    .partners__slider
      +partners-slider
