include ../components/primary-button

mixin promo
  section.promo
    .promo__support
      img.promo__support-img(src='assets/img/icons/mos-gov.svg')
      .promo__support-text Проект<br>Правительства<br>Москвы
    img.promo__bg(
      src='assets/img/promo/bg-zaryadye.png'
      srcset='assets/img/promo/bg-zaryadye.png 1x, assets/img/promo/bg-zaryadye.png 2x, assets/img/promo/bg-zaryadye.png 3x'
    )
    .promo__content
      img.promo__content-img(
      src='assets/img/promo/img-zaryadye.png'
      srcset='assets/img/promo/img-zaryadye.png 1x, assets/img/promo/img-zaryadye.png 2x, assets/img/promo/img-zaryadye.png 3x'
      )
      //span.promo__over-title
      //h1.promo__title
      //span.promo__sub-title

