.fest-event {
  margin-bottom: 30px;
  &.hide {
    display: none;
  }
  &__date {
    margin: 10px 0;
    padding: 0 5px;
    font-weight: 900;
  }
  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    &-item {
      @include link-reset;
      display: flex;
      align-items: center;
      font-weight: 100;
      font-size: 14px;
      padding: 10px 5px;
      transition: background-color 133ms ease-in-out;
      border-bottom: 1px dotted rgba($base-color, .3);
      &.active {
        background-color: rgba($base-color, .1);
        &:hover {
          background-color: rgba($base-color, .15);
        }
      }
      &:first-child {
        border-top: 1px dotted rgba($base-color, .3);
      }
      &:hover {
        background-color: rgba($base-color, .07);
      }
      &-time {
        flex-shrink: 0;
        margin-right: 10px;
      }
      &-title {
        margin-right: 10px;
        min-width: 0;
        flex: 1;
      }
      &-reg,
      &-lang {
        padding: 5px;
        background-color: rgba($base-color, .1);
        font-size: 12px;
      }
      &-reg {
        @include link-reset;
        display: block;
        transition: background-color 133ms ease-in-out;
        &:hover {
          background-color: rgba($base-color, .2);
        }
      }
      &-lang {
        margin-right: 5px;
      }

    }
  }
}
