.fest-program {
  text-transform: uppercase;
  &__days {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 25px;
    text-transform: initial;
    &-item {
      @include link-reset;
      display: inline-block;
      transition: opacity 133ms ease-in-out;
      padding: 5px;
      background-color: rgba($base-color, .08);
      &:not(:last-child) {
        margin-right: 15px;
      }
      &:hover {
        opacity: .7;
      }
      &.hide {
        background-color: transparent;
      }
    }
  }
  &__menu {
    margin-bottom: 40px;
    &-item {
      @include link-reset;
      display: inline-block;
      padding-bottom: 2px;
      border-bottom: 2px solid transparent;
      margin-bottom: 5px;
      &:not(:last-child) {
        margin-right: 20px;
      }
      &.active {
        border-bottom-color: rgba(0, 174, 199, .5);
      }
    }
  }
}
