.fest-site {
  &__name {
    position: relative;
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 500;
    padding: 17px 10px;
    background-color: $base-color;
    color: #fff;
    &-arrow {
      position: absolute;
      top: 20px;
      right: 20px;
      width: 20px;
      height: 20px;
      background-image: url("#{$img-url}/icons/accordeon-icon.svg");
      background-position: 50%;
      background-size: contain;
      z-index: 10;
      transition: transform 133ms ease-in-out;
    }
    &.active {
      .fest-site__name-arrow {
        transform: rotate(180deg);
      }
    }
  }
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &__venue-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    transition: max-height 0.2s ease-in-out;
  }
}
