.fest-venue {
  position: relative;
  display: block;
  @include tablet {
    display: inline-block;
    width: 48%;
    margin-right: 10px;
    margin-left: 10px;
  }

  &__name {
    margin-bottom: 10px;
    padding: 15px 120px 15px 10px;
    background-color: $base-color;
    color: #fff;
  }
  &__icon {
    position: absolute;
    width: 120px;
    height: 60px;
    z-index: 10;
    background-position: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    right: 20px;
    top: -5px;
    &.hall-35 {
      background-image: url("#{$img-url}/fest/MUF_200x200-3.png");
    }
    &.hall-36 {
      background-image: url("#{$img-url}/fest/MUF_200x200-4.png");
    }
    &.hall-38 {
      top: -30px;
      height: 100px;
      background-image: url("#{$img-url}/fest/MUF_200x200-5.png");
    }
    &.hall-39 {
      top: -25px;
      width: 120px;
      height: 80px;
      background-image: url("#{$img-url}/fest/MUF_200x200-7.png");
    }
    &.hall-40 {
      top: -80px;
      height: 150px;
      background-image: url("#{$img-url}/fest/MUF_200x200-6.png");
    }
    &.hall {
      top: -40px;
      width: 150px;
      height: 100px;
      background-image: url("#{$img-url}/fest/MUF_200x200-9.png");
    }
    &.hall-41 {
      top: -30px;
      width: 100px;
      height: 100px;
      background-image: url("#{$img-url}/fest/MUF_200x200-14.png");
    }
  }
}
