extends pug/layouts/default
include pug/components/secondary-button
block content
  main.mainer
    section.page
      .page__content
        h1.page-title MUF Community Awards
        span.page-subtitle.
          Премия MUF Community Awards — первая мультидисциплинарная премия городских сообществ, независимых проектов,
          частных инициатив и стартапов, внесших значительный вклад в развитие Москвы.
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
      .full-width-info
        .full-width-info__content
          h2.full-width-info__title Цели Лабораторий
          span.full-width-info__subtitle.
            Номинантов премии отбирает экспертный совет.
            Победители определяются публичным голосованием.
          .full-width-info__block
            span.full-width-info__block-item.
              <b>Экспертный совет</b> — формируется следующим образом: оргкомитет выдвигает от каждой номинации несколько
              соответствующих ее профилю эксперта-профессионала, которые внутри своей номинации составляют список из 3-5 номинантов.
            span.full-width-info__block-item.
              <b>Публичное голосование</b> на сайте mos.ru определит победителей из  списка объявленных номинантов.
      .page__content
        h1.page-title Направления работы

        .numbered-block
          .numbered-block__col-title Номинация
          .numbered-block__col-title Номинанты
          .numbered-block__content
            .numbered-block__item
              .numbered-block__item-title
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase Entertainment & Leisure
                .numbered-block__item-title-desc Сфера развлечений и досуга
              div.numbered-block__item-content
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Политехнический музей на ВДНХ
                  img.numbered-block__link-img(src='http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg')
                  .numbered-block__link-tint
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Квесты «Клаустрофобия»
                  img.numbered-block__link-img(src='https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg')
                  .numbered-block__link-tint

            .numbered-block__item
              .numbered-block__item-title
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase EDUCATION & SCIENCE
                .numbered-block__item-title-desc Научно-образовательные инициативы
              div.numbered-block__item-content
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Политехнический музей на ВДНХ
                  img.numbered-block__link-img(src='http://www.yugopolis.ru/data/img/3f85e8b8ce283f34df4405756b548dc0/252159.jpg')
                  .numbered-block__link-tint
                a.numbered-block__link(href='#')
                  span.numbered-block__link-text Квесты «Клаустрофобия»
                  img.numbered-block__link-img(src='https://www.meme-arsenal.com/memes/01f9c511dcfd998a149df1af33171d13.jpg')
                  .numbered-block__link-tint

        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
        h1.page-title Экспертный совет
        p.paragraph.
          Номинантов MUF Community Awards определяет экспертный совет — представители ведущих городских сообществ и проектов, развивающих Москву.
        .numbered-block
          .numbered-block__col-title Номинация
          .numbered-block__col-title ЭКСПЕРТЫ
          .numbered-block__content
            .numbered-block__item
              .numbered-block__item-title.numbered-block__item-title--clean
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase Entertainment &<br/>Leisure
                .numbered-block__item-title-desc Сфера развлечений<br/>и досуга
              .numbered-block__item-content
                .numbered-block__item-content-text <b>Ольга Захарова</b>, управляющий директор ADG Group, экс-директор Парка Горького
                .numbered-block__item-content-text <b>Антон Ковальков</b>, шеф-повар, лауреат Omnivore
                .numbered-block__item-content-text <b>Анна Лашова</b>, ведущая радиостанции «Серебряный дождь»
            .numbered-block__item
              .numbered-block__item-title.numbered-block__item-title--clean
                .numbered-block__item-title-text.numbered-block__item-title-text--uppercase EDUCATION &<br/>SCIENCE
                .numbered-block__item-title-desc Научно-образовательные<br/>инициативы
              .numbered-block__item-content
                .numbered-block__item-content-text <b>Максим Казарновский</b>, директор исполнительной дирекции Московского международного салона образования
                .numbered-block__item-content-text <b>Григорий Ковбасюк</b>, генеральный директор телеканала «Наука»
                .numbered-block__item-content-text <b>Иван Боганцев</b>, заместитель генерального директора Политехнического музея по просветительской и образовательной работе
