extends pug/layouts/default

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Календарь событий 2017–2018
        .calendar__month
          h3.calendar__month-title Сентябрь 2017
          .calendar__event
            .calendar__event-title Marketing Real Estate Forum
            .calendar__event-details
              .calendar__event-date 04 Сентября
              .calendar__event-address Романов Двор, бизнес-центр, Романов пер., 4, строение 1, Москва, Россия, 101000
            .calendar__event-description.
              Форум Ассоциации профессионалов рынка недвижимости REPA в преддверии премии
              в области маркетинга и рекламы WOW Awards
            .calendar__event-organizer <b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA
          .calendar__event
            .calendar__event-title ВЭФ-2017
            .calendar__event-details
              .calendar__event-date 06–07 Сентября
              .calendar__event-address Владивосток
            .calendar__event-description Восточный экономический форум
            .calendar__event-organizer <b>Организатор:</b> Фонд «Росконгресс»
          .calendar__event
            .calendar__event-title DLD-2017
            .calendar__event-details
              .calendar__event-date 06–07 Сентября
              .calendar__event-address Тель Авив
            .calendar__event-description Tel Aviv Innovation Festival
          .calendar__event
            .calendar__event-title WOW AWARDS
            .calendar__event-details
              .calendar__event-date 07 Сентября
              .calendar__event-address Нижняя Красносельская ул., 35, Москва, Россия, 105066
            .calendar__event-description Церемония награждения премии в сфере недвижимости WOW AWARDS
            .calendar__event-organizer <b>Организатор:</b> Ассоциация профессионалов рынка недвижимости REPA

        .calendar__month#month_2_2018
          h3.calendar__month-title Октябрь 2017
          .calendar__event
            .calendar__event-title 100+ FORUM RUSSIA
            .calendar__event-details
              .calendar__event-date 04–06 Октября
              .calendar__event-address Экспо-бульвар (Екатеринбург)
            .calendar__event-description.
              Международный форум и выставка высотного и уникального строительства
          .calendar__event
            .calendar__event-title EXPO REAL
            .calendar__event-details
              .calendar__event-date 04–06 Октября
              .calendar__event-address Мюнхен
            .calendar__event-description Europe's largest real estate and investment trade fair
          .calendar__event
            .calendar__event-title АТЛАНТЫ
            .calendar__event-details
              .calendar__event-date 05–06 Октября
              .calendar__event-address Crocus City Hall
            .calendar__event-description Российский бизнес-форум
            .calendar__event-organizer <b>Организатор:</b> WTH Group
