extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    +header-secondary('Расписание', '/schedule.html')
    section.page
      .modal#speaker-1
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.
              a(href='google.com') google.com

      .modal#speaker-2
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-3
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-4
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .modal#speaker-5
        .modal__overlay(data-micromodal-close tabindex="-1")
          .modal__container
            .modal__content
              .modal__close(data-micromodal-close)
              img.event__modal-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__modal-info
                .event__modal-name Надир  Абдессемед
                .event__modal-position Консультант, Transsolar
                .event__modal-company Berklee College of Music
              .event__modal-desc
                p Брюс Кац (совместно с Джереми Новаком) основал компанию New Localism Advisors. Её миссия – помочь городам создавать, финансировать и внедрять инновационные решения для всестороннего и устойчивого развития. Кац постоянно консультирует лидеров мирового и национального уровня по вопросам реализации общественных реформ и частных инноваций, которые направлены на улучшение городской среды.
                p Брюс Кац является соавтором книг «The New Localism: How Cities Can Thrive in the Age of Populism» (Brookings Institution Press, 2018) и «The Metropolitan Revolution: How Cities and Metros are Fixing Our Broken Politics and Fragile Economy» (Brookings Institution Press, 2013). Обе книги посвящены росту влияния метрополий и городских сетей на мировые проблемы.
                p С января 2016 по март 2018 Кац был президентом программы Centennial Scholar в Брукингском институте. Под его руководством основное внимание уделялось вопросам глобальной урбанизации. До перехода на этот пост Брюс Кац занимал должность вице-президента Брукингского института и являлся учредителем программы Metropolitan Policy.

      .page__content
        p.event__date День 1 • 13:15-14:30 • Зал 2
        h1.main__title Новое массовое жилье.<br/>Мировые практики масштабного редевелопмента
        p.paragraph.
          Предметы интерьера шоу-рума по программе реновации жилья, который работал на ВДНХ в рамках Московского урбанистического форума в июле 2017 года, АНО “МУФ” передала благотворительному фонду «София». Это мебель, бытовая техника, предметы интерьера.
          Их раздадут приютам и многодетным семьям. Председатель отдела социального служения и церковной благотворительности Тверской епархии иеромонах Амвросий рассказал, что в настоящее время
          в базе данных есть информация
          о 500 людях, нуждающихся
          в помощи.

        .event__speakers
          .event__speakers-col
            h2.event__speakers-col-title Модератор
            .event__speakers-item(data-micromodal-trigger="speaker-1")
              img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
              .event__speakers-item-block
                .event__speakers-item-name Bruce Katz
                .event__speakers-item-position Associate professor
                .event__speakers-item-company Berklee College of Music
                .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
          .event__speakers-col
            h2.event__speakers-col-title Ключевые спикеры
            .event__speakers-list
              .event__speakers-item(data-micromodal-trigger="speaker-2")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-3")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-4")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar
              .event__speakers-item(data-micromodal-trigger="speaker-5")
                img.event__speakers-item-img(src='http://mosurbanforum.com/static/archive/2018/speakers/bruce_katz.jpg')
                .event__speakers-item-block
                  .event__speakers-item-name Bruce Katz
                  .event__speakers-item-position Associate professor
                  .event__speakers-item-company Berklee College of Music
                  .event__speakers-item-desc An American musician, playing piano, organ and bass guitar

