extends pug/layouts/default
include pug/components/secondary-button
block content
  main.mainer
    section.page
      .page__content
        h1.page-title Экспериментальные лаборатории MUF 17
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
      .full-width-info
        .full-width-info__content
          h2.full-width-info__title Цели Лабораторий
          .full-width-info__block
            span.full-width-info__block-item.
              <b>Поиск</b> новых технологических решений, актуальных для текущих стратегических задач города и нацеленных
              на создание комфортной и безопасной городской среды.
            span.full-width-info__block-item.
              <b>Формирование</b> инструментов для интеграции технологических инноваций в повестку развития Москвы.
            span.full-width-info__block-item.
              <b>Создание</b> дорожных карт по внедрению новых технологий по трем ключевым темам Лабораторий.
      .page__content
        h1.page-title Направления работы
        .numbered-block

          .numbered-block__item
            .numbered-block__item-title
              .numbered-block__item-title-text Комфортное жилье<br>будущего
            div.numbered-block__item-content
              p.numbered-block__item-content-text.
                Лаборатория сосредоточится на широком диапазоне технологических решений на всех этапах проектирования
                и строительства жилья — от планировки районов до инновационных технологий строительства,
                применения новых материалов и технологий «умный дом».

          .numbered-block__item
            .numbered-block__item-title
              .numbered-block__item-title-text Мобильность<br>будущего
            div.numbered-block__item-content
              p.numbered-block__item-content-text.
                Лаборатория рассмотрит инновационные решения, направленные на сокращение расстояний в
                городе и повышение мобильности горожан и товаров.
        p.paragraph.
          Экспериментальные лаборатории MUF 17 — это динамичные исследовательские воркшопы по разработке инструментов
          внедрения технологических инноваций в политику Москвы.
        p.paragraph.
          Лаборатории посвящены трем приоритетным для Москвы направлениям: мобильность, жилье и качество среды обитания.
          Лаборатории станут платформой для открытого диалога и совместной работы профильных департаментов Правительства Москвы,
          профессионалов в области развития городской среды, создателей инновационных технологических разработок и инвесторов.
        p.paragraph.
          Опыт ведущих глобальных мегаполисов показывает, как важна для будущего Москвы повестка открытого технологического развития.
          Москва должна стать городом, открытым для новых технологий и  нацеленным на постоянное повышение качества жизни
          за счет поиска и внедрения новых технологических решений. В свою очередь технологии должны стать открытыми и доступными
          в повседневной жизни горожан.
        h1.page-title Как принять участие:
        .stages-block
          .stages-block__item
            .stages-block__item-stage
              .stages-block__item-stage-number &nbsp;этап
              .stages-block__item-stage-date 18 МАЯ — 20 ИЮНЯ
            .stages-block__item-content
              span.stages-block__item-content-title Подача заявок на участие
              p.stages-block__item-content-text.
                Подайте заявку на участие до 20 июня включительно. Участие могут принять как сформированные команды,
                так и индивидуальные участники. Если вы подаетесь командой, заполнить заявки должны все члены команды.
          .stages-block__item
            .stages-block__item-stage
              .stages-block__item-stage-number &nbsp;этап
              .stages-block__item-stage-date 15 — 25 ИЮНЯ
            .stages-block__item-content
              span.stages-block__item-content-title Отбор участников и подтверждение участия
              p.stages-block__item-content-text.
                Программный директор и менторы Лабораторий сформируют финальный состав участников.
                Письмо с подтверждением вашего участия и детальным расписанием вы получите 25 июня.
