extends pug/layouts/default
include pug/components/secondary-button
block content
  main.mainer
    section.page.page--promo
      .fest__promo
        .fest__promo-logo
        img.fest__promo-bg(src='http://mosurbanforum.ru/static/archive/2017/fest/6.jpg')
        .fest__program.fest__program--tablet
          .fest__program-text.
            MUF Fest — это открытая программа Moscow Urban Forum 2017 о городских сообществах,
            частных инициативах и проектах, меняющих жизнь города.
          .fest__program-download
            +secondaryButton('Программа фестиваля')

      .fest__program
        .fest__program-text.
          MUF Fest — это открытая программа Moscow Urban Forum 2017 о городских сообществах,
          частных инициативах и проектах, меняющих жизнь города.
        .fest__program-download
          +secondaryButton('Программа фестиваля')
      .fest__content
        .page__content
          p.fest__content-text.
            Фестиваль в этом году впервые стал резидентом деловой программы и расположится
            в зале «Community Stage», где 6–7 июля прошли презентации и дискуссии о роли
            сообществ в развитии мегаполисов.
          p.fest__content-text.
            Помимо этого, в течение четырёх дней (6–9 июля) на открытых городских площадках
            состоялись публичные лекции и интервью звездных спикеров Форума, воркшопы,
            серия беговых экскурсий, концерты независимой музыки, выставка городского искусства,
            воркшопы и питч-сессии городских стартапов.
          .fest__content-gallery
            .fest__content-gallery-item

              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .fest__content-gallery-item
              a(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
                img.fest__content-gallery-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
