extends pug/layouts/default

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Программа фестиваля
        .fest-program
          .fest-program__days
            .fest-program__days-item(data-day='all') Все время
            .fest-program__days-item(data-day='1') День 1
            .fest-program__days-item(data-day='2') День 2
            .fest-program__days-item(data-day='3') День 3
            .fest-program__days-item(data-day='4') День 4
            .fest-program__days-item(data-day='5') День 5
            .fest-program__days-item(data-day='6') День 6
          .fest-program__menu
            .fest-program__menu-item(data-type='1') категория 1
            .fest-program__menu-item(data-type='2') категория 2
            .fest-program__menu-item(data-type='3') категория 3
            .fest-program__menu-item(data-type='4') категория 4
          .fest-site
            .fest-site__name.active Концертный зал
              .fest-site__name-arrow
            .fest-site__venue-container.active
              .fest-venue
                .fest-venue__name Зал 1
                .fest-venue__icon.hall-35
                .fest-event__container
                  .fest-event(data-day='1')
                    .fest-event__date 17 Июля
                    .fest-event__list
                      a(href='#' data-type='4').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором
                        .fest-event__list-item-reg Регистрация

              .fest-venue.fest-venue--full
                .fest-venue__name Зал 2
                .fest-event__container
                  .fest-event(data-day='1')
                    .fest-event__date 17 Июля
                    .fest-event__list
                      a(href='' data-type='2').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='2')
                    .fest-event__date 18 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 3
                .fest-event__container
                  .fest-event(data-day='2')
                    .fest-event__date 18 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 4
                .fest-event__container
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='3')
                    .fest-event__date 19 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='4')
                    .fest-event__date 20 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
              .fest-venue
                .fest-venue__name Зал 5
                .fest-event__container
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='6')
                    .fest-event__date 22 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='5')
                    .fest-event__date 21 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 18:00-19:30
                        .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
                  .fest-event(data-day='6')
                    .fest-event__date 22 Июля
                    .fest-event__list
                      a(href='').fest-event__list-item
                        .fest-event__list-item-time 19:00-20:00
                        .fest-event__list-item-title интервью с урбанистом: ричард флорида
                        .fest-event__list-item-lang en
                        .fest-event__list-item-reg Регистрация
          //.fest-site
          //  .fest-site__name.active СОБЫТИЯ В ПАРКЕ
          //    .fest-site__name-arrow
          //  .fest-site__venue-container.active
          //    .fest-venue
          //      .fest-venue__name Зал 1
          //      .fest-venue__icon.hall-35
          //      .fest-event__container
          //        .fest-event(data-day='1')
          //          .fest-event__date 17 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='4')
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='2')
          //          .fest-event__date 18 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='1 2')
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //            a(href='').fest-event__list-item(data-type='3')
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //
          //    .fest-venue.fest-venue--full
          //      .fest-venue__name Зал 2
          //      .fest-event__container
          //        .fest-event(data-day='3')
          //          .fest-event__date 19 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item(data-type='2')
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //      .fest-event(data-day='4')
          //        .fest-event__date 20 Июля
          //        .fest-event__list
          //          a(href='').fest-event__list-item
          //            .fest-event__list-item-time 19:00-20:00
          //            .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //            .fest-event__list-item-lang en
          //            .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 3
          //      .fest-event__container
          //        .fest-event(data-day='5')
          //          .fest-event__date 21 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 4
          //      .fest-event__container
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title ВОРКШОП TVоя Москва: Голос Москвы 24 о том, как полюбить публичные выступления
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //    .fest-venue
          //      .fest-venue__name Зал 5
          //      .fest-event__container
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 18:00-19:30
          //              .fest-event__list-item-title интервью с архитектором: рем колхас и владимир познер
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация
          //        .fest-event(data-day='6')
          //          .fest-event__date 22 Июля
          //          .fest-event__list
          //            a(href='').fest-event__list-item
          //              .fest-event__list-item-time 19:00-20:00
          //              .fest-event__list-item-title интервью с урбанистом: ричард флорида
          //              .fest-event__list-item-lang en
          //              .fest-event__list-item-reg Регистрация



