extends pug/layouts/default

include pug/blocks/promo
include pug/blocks/main-news
include pug/blocks/main-history
include pug/blocks/main-video
include pug/blocks/fest
include pug/blocks/award
include pug/blocks/partners

block content
  main.mainer
    +promo
    .page
      .page__content
        +main-news
        +main-history
        +main-video
        +fest
        +award
        +partners

