extends pug/layouts/default
include pug/blocks/slider/library-slider

block content
  main.mainer
    section.page
      .page__content
        h2.page-title URBAN AGENDA
        .library__slider
          +library-slider
        h2.page-title Публикации у партнеров
        .library__item
          a(href='#').library__item-title Москва и Реновация
          .library__item-date 30 Октября
          .library__item-excerpt.
            Сумароковская школа подсознательно отражает целевой сегмент рынка, используя
            опыт предыдущих кампаний. Различное расположение согласно с Ф.Котлером.
        .library__item
          a(href='#').library__item-title Проект благоустройства Казанского вокзала
          .library__item-date 20 Октября
          .library__item-excerpt.
            Соц-дем характеристика аудитории, пренебрегая деталями, параллельна.
            Несобственно-прямая речь стабилизирует урбанистический акцент.

