extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    +header-secondary('Все новости', '/news-list.html')
    section.page.page--news

      .page__content.page__content--news
        .news__page-date.news__page-date--desktop 13 октября
        .news__page-title.news__page-title--desktop Moscow Urban Forum передал имущество шоу-рума по реновации благотворительному фонду «София»
        img.news__page-img(
          src='assets/img/promo/main-back.png'
          srcset='assets/img/promo/main-back.png 1x, assets/img/promo/main-back@2x.png 2x, assets/img/promo/main-back@3x.png 3x'
        )
        .news__page-date 13 октября
        .news__page-title Moscow Urban Forum передал имущество шоу-рума по реновации благотворительному фонду «София»
        .news__page-text
          p.
            Предметы интерьера шоу-рума по программе реновации жилья, который работал на ВДНХ в рамках Московского урбанистического форума в июле 2017 года, АНО “МУФ” передала благотворительному фонду «София». Это мебель, бытовая техника, предметы интерьера.
            Их раздадут приютам и многодетным семьям. Председатель отдела социального служения и церковной благотворительности Тверской епархии иеромонах Амвросий рассказал, что в настоящее время
            в базе данных есть информация
            о 500 людях, нуждающихся
            в помощи.
          p.
            Напомним, что в рамках выставочной части MUF-2017 был воссоздан один этаж жилого дома, который построят по программе реновации - точно такие же квартиры, которые будут предоставляться переселенцам.
            В шоу-руме были показаны фасады, внутренняя планировка, отделка,
            а также внутреннее убранство. Напомним, что шоу-рум
            по программе реновации, который был открыт в павильоне 75 на ВДНХ, посетило более 70 тыс. человек.

        .news__page-sharing
          .news__page-sharing-title Поделиться новостью:
          a(href="http://twitter.com/share").news__page-sharing-item.news__page-sharing-item--tw#twShareBtn
          a(href="#").news__page-sharing-item.news__page-sharing-item--vk#vkShareBtn
          a(href="#").news__page-sharing-item.news__page-sharing-item--fb#fbShareBtn
