extends pug/layouts/default

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Новости
        .news
          a(href='/news-page.html').news__item.news__item--large
            img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
            .news__item-caption
              .news__item-date 13 января 2017
              .news__item-title Moscow Urban Forum передал имущество шоу-рума по реновации благотворительному фонду «София»
          .news__row
            a(href='/news-page.html').news__item.news__item--yellow
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-13_18-25-33__8335567a-67df-11e7-bd5e-448a5b8480a3.jpg')
              .news__item-caption
                .news__item-date 17 апреля 2017
                .news__item-title Партнёры Moscow Urban Forum 2017

            a(href='/news-page.html').news__item.news__item--black
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
              .news__item-caption
                .news__item-date 20 мая 2017
                .news__item-title MUF 2017 года — самый представительный в истории

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--yellow
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-13_18-25-33__8335567a-67df-11e7-bd5e-448a5b8480a3.jpg')
              .news__item-caption
                .news__item-date 17 апреля 2017
                .news__item-title Партнёры Moscow Urban Forum 2017

            a(href='/news-page.html').news__item.news__item--black
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
              .news__item-caption
                .news__item-date 20 мая 2017
                .news__item-title MUF 2017 года — самый представительный в истории

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--yellow
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--black
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-13_18-25-33__8335567a-67df-11e7-bd5e-448a5b8480a3.jpg')
              .news__item-caption
                .news__item-date 17 апреля 2017
                .news__item-title Партнёры Moscow Urban Forum 2017

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
              .news__item-caption
                .news__item-date 20 мая 2017
                .news__item-title MUF 2017 года — самый представительный в истории

            a(href='/news-page.html').news__item.news__item--yellow
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--black
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-13_18-25-33__8335567a-67df-11e7-bd5e-448a5b8480a3.jpg')
              .news__item-caption
                .news__item-date 17 апреля 2017
                .news__item-title Партнёры Moscow Urban Forum 2017

            a(href='/news-page.html').news__item.news__item--yellow
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
              .news__item-caption
                .news__item-date 20 мая 2017
                .news__item-title MUF 2017 года — самый представительный в истории

            a(href='/news-page.html').news__item.news__item--white
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--black
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

            a(href='/news-page.html').news__item.news__item--grey
              img.news__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-12-06_51.jpg')
              .news__item-caption
                .news__item-date 11 июня 2017
                .news__item-title Лучшим городским проектам вручили премию MUF'17 Community Awards

