extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    section.page
      +header-secondary('Все партнеры и спонсоры', '/partnership.html')
      .page__content
        img(src="").partners-page__logo
        .partners-page__inner
          .partners-page__title Газпром нефть
          .partners-page__description партнер дня, Россия
          p.
            <b>«Газпром нефть»</b> — вертикально-интегрированная нефтяная компания, основные виды деятельности которой — разведка и разработка месторождений нефти и газа, нефтепереработка, а также производство и сбыт нефтепродуктов.
          p.
            В структуру «Газпром нефти» входят более 70 нефтедобывающих, нефтеперерабатывающих и сбытовых предприятий в России, странах ближнего и дальнего зарубежья. По состоянию на 31 декабря 2016 года суммарные запасы углеводородов «Газпром нефти» (с учетом доли в совместных предприятиях) категорий «доказанные» и «вероятные» (proved + probable — 2P) по международным стандартам SPE-PRMS** составили 2,72 млрд тонн нефтяного эквивалента.
          p.
            Компания демонстрирует одно из лучших в российской отрасли соотношений добычи и переработки. По объему переработки нефти «Газпром нефть» входит в тройку крупнейших компаний в России, по объему добычи занимает четвертое место.
          p.
            «Газпром нефть» ведет работу в крупнейших нефтегазоносных регионах России: Ханты-Мансийском и Ямало-Ненецком автономных округах, Томской, Омской, Оренбургской областях. Основные перерабатывающие мощности компании находятся в Омске, Москве и Ярославле, а также в городах Панчево и Нови Сад (Сербия). Кроме того, «Газпром нефть» реализует проекты в области добычи за пределами России — в Ираке, Венесуэле и других странах.
          p.
            Продукция «Газпром нефти» экспортируется в более чем 50 стран мира и реализуется на всей территории РФ и за рубежом через разветвленную сеть собственных сбытовых предприятий.
          p.
            В настоящее время сеть АЗС компании насчитывает 1 793 станции в России, странах СНГ и Европы.

