extends pug/layouts/default

include pug/blocks/partners

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Как стать нашим партнером?
        span.partnership__tagline Если хотите стать партнером или спонсором форума, пишите или звоните:
        .partnership__managers
          .partnership__managers-card
            h4.partnership__managers-name Арина Дробина
            .partnership__managers-position Директор по маркетингу и работе  с партнерами
            .partnership__managers-phone +7 499 641-16-82 , +7 965 134-51-01
            a.partnership__managers-mail(href='mailto:Drobina@mosurbanforum.ru') Drobina@mosurbanforum.ru

          .partnership__managers-card
            h4.partnership__managers-name Наталья Дубовик
            .partnership__managers-position Менеджер отдела маркетинга
            .partnership__managers-phone +7 499 641-16-82 , +7 965 234-65-95
            a.partnership__managers-mail(href='mailto:Dubovik@mosurbanforum.ru') Dubovik@mosurbanforum.ru

          .partnership__managers-card
            h4.partnership__managers-name Ксения Маренникова
            .partnership__managers-position Менеджер по вопросам информационного партнёрства
            .partnership__managers-phone +7 903 528-36-11
            a.partnership__managers-mail(href='mailto:k.marennikova@gmail.com') k.marennikova@gmail.com
        .partnership__cards
          +partners
        .partnership__cards.partnership__cards--desktop
          h2.page-title Партнеры и спонсоры
          h3.partners__content-title Компании
          .partnership__list
              a(href='#').partnership__list-item
                .partnership__list-item-img
                  img(src='http://muf2018.ru/media/partner/main/2017-06-13_18-23-53__4f0f1598-504c-11e7-8de0-448a5b8480a3.png')
                .partnership__list-item-caption
                  span.partnership__list-item-name ВТБ
                  span.partnership__list-item-desc Стратегический спонсор
              a(href='#').partnership__list-item
                .partnership__list-item-img
                  img(src='http://muf2018.ru/media/partner/main/2017-06-13_20-43-43__d83259da-505f-11e7-8ba1-448a5b8480a3.png')
                .partnership__list-item-caption
                  span.partnership__list-item-name ВТБ
                  span.partnership__list-item-desc Стратегический спонсор
              a(href='#').partnership__list-item
                .partnership__list-item-img
                  img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
                .partnership__list-item-caption
                  span.partnership__list-item-name ВТБ
                  span.partnership__list-item-desc Стратегический спонсор
              a(href='#').partnership__list-item
                .partnership__list-item-img
                .partnership__list-item-caption
                  span.partnership__list-item-name ВТБ
                  span.partnership__list-item-desc Стратегический спонсор

          h3.partners__content-title Медиа
          .partnership__list
            a(href='#').partnership__list-item
              .partnership__list-item-img
              .partnership__list-item-caption
                span.partnership__list-item-name ВТБ
                span.partnership__list-item-desc Стратегический спонсор
            a(href='#').partnership__list-item
              .partnership__list-item-img
              .partnership__list-item-caption
                span.partnership__list-item-name ВТБ
                span.partnership__list-item-desc Стратегический спонсор
            a(href='#').partnership__list-item
              .partnership__list-item-img
              .partnership__list-item-caption
                span.partnership__list-item-name ВТБ
                span.partnership__list-item-desc Стратегический спонсор
            a(href='#').partnership__list-item
              .partnership__list-item-img
              .partnership__list-item-caption
                span.partnership__list-item-name ВТБ
                span.partnership__list-item-desc Стратегический спонсор
