extends pug/layouts/default
include ./pug/blocks/schedule/schedule
include ./pug/components/secondary-button

block content
  main.mainer
    section.page
      .schedule__content
        .page__heading-group
          h1.page-title Деловая программа MUF2018
          span.page-description Более 400 спикеров, более 70 мероприятий
        .page__downloads
          .page__downloads-item
            +secondaryButton('Программа MUF 2017')
          .page__downloads-item
            +secondaryButton('Программа MUF 2018')
      +schedule


