extends pug/layouts/default
include pug/blocks/slider/speakers-slider

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Спикеры
        .library__slider
          +speakers-slider

