extends pug/layouts/default
include pug/blocks/slider/video-slider

block content
  main.mainer
    section.page
      .page__content
        h2.page-title Видео выступлений
        .video__search
          input.search-input(data-search placeholder='Поиск по выступлениям')
        .video__archive
          .video__archive-item
            .video__archive-letter а
            .video__archive-slider
              +video-slider
          .video__archive-item
            .video__archive-letter б
            .video__archive-slider
              .slider__video.owl-carousel

                a.slider__video-item(data-filter-item data-filter-name="#urbanдети интересное и важное о городе для детей" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption #urbanдети. Интересное и важное о городе для детей

                a.slider__video-item(data-filter-item data-filter-name="isocarp развитие района печатники (ypp)" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Isocarp. Развитие района печатники (ypp)

                a.slider__video-item(data-filter-item data-filter-name="jeremy hildreth if place branding isnt robust then its just wishful thinking (rus)" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Jeremy Hildreth «If place branding isn’t robust then it’s just wishful thinking» (rus)

                a.slider__video-item(data-filter-item data-filter-name="survival kit для урбаниста времен технологической революции" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Survival kit для урбаниста времен технологической революции

                a.slider__video-item(data-filter-item data-filter-name="the moscow state how will hps-2 be transformed into a major modern art museum" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption The Moscow tate. How will hps-2 be transformed into a major modern art museum?

                a.slider__video-item(data-filter-item data-filter-name="архитектурная политика пришло ли время для институционализации" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Архитектурная политика. Пришло ли время для институционализации?

                a.slider__video-item(data-filter-item data-filter-name="безопасность города ответы на главные вызовы" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Безопасность города. Ответы на главные вызовы

                a.slider__video-item(data-filter-item data-filter-name="большие маленькие проекты" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
                  img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
                  span.slider__video-item-caption Большие маленькие проекты

                a.slider__video-item.slider__video-item--last(href='#')
                  img.slider__video-item-img(src='assets/img/icons/film-black.svg')
                  span.slider__video-item-caption Все видео  выступлений
