extends pug/layouts/headless

include pug/blocks/header-secondary

block content
  main.mainer
    section.page
      +header-secondary('Видео выступлений', '/video.html')
      .video__page-promo
        .video__page-promo-inner
          .video__page-promo-main video
          .video__page-promo-title Агломерации как глобальный управленческий вызов
      .page__content
        .video__page-title Смотрите далее
        .video__page-slider
          .slider
            button.slider__control#video-page-slider-control
            .slider__inner#video-page-slider
              ul.slider__content
                li.slider__item.slider__item--video
                  a(href='#')
                    img.slider__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-09_16-22-54__b7897188-64a9-11e7-8ab9-448a5b8480a3.jpg')
                    span.slider__item-caption Агломерации как глобальный управленческий вызов
                li.slider__item.slider__item--video
                  a(href='#')
                    img.slider__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-09_16-22-54__b7897188-64a9-11e7-8ab9-448a5b8480a3.jpg')
                    span.slider__item-caption Агломерации как глобальный управленческий вызов
                li.slider__item.slider__item--video
                  a(href='#')
                    img.slider__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-09_16-22-54__b7897188-64a9-11e7-8ab9-448a5b8480a3.jpg')
                    span.slider__item-caption Агломерации как глобальный управленческий вызов
                li.slider__item.slider__item--video
                  a(href='#')
                    img.slider__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-09_16-22-54__b7897188-64a9-11e7-8ab9-448a5b8480a3.jpg')
                    span.slider__item-caption Агломерации как глобальный управленческий вызов
                li.slider__item.slider__item--video
                  a(href='#')
                    img.slider__item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-07-09_16-22-54__b7897188-64a9-11e7-8ab9-448a5b8480a3.jpg')
                    span.slider__item-caption Агломерации как глобальный управленческий вызов

