mixin library-slider
  .slider__library.owl-carousel
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
    a.slider__library-item(href='#')
      img.slider__library-item-img(src='http://mosurbanforum.com/media/library/urban_agenda_2017.jpg')
      span.slider__library-item-caption №7 / осень 2017
