mixin news-slider
  .slider__news.owl-carousel
    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

    a.slider__news-item(href='#')
      .slider__news-item-overlay
      img.slider__news-item-img(src='http://mosurbanforum.com/media/News/main/2018-02-09_53_preview.jpg')
      span.slider__news-item-text Moscow Urban Forum participated in the World Urban Forum
      span.slider__news-item-date February 9, 2018

