mixin partners-slider
  .slider__partners.owl-carousel
    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-06-13_18-23-53__4f0f1598-504c-11e7-8de0-448a5b8480a3.png')
      .slider__partners-item-status Стратегический спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-06-13_20-43-43__d83259da-505f-11e7-8ba1-448a5b8480a3.png')
      .slider__partners-item-status Генеральный партнер

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор

    a.slider__partners-item(href='/partners-page.html')
      img.slider__partners-item-img(src='http://muf2018.ru/media/partner/main/2017-07-04_01-05-14__b0c435bc-603b-11e7-8e6d-448a5b8480a3.png')
      .slider__partners-item-status Генеральный спонсор
