mixin photo-slider
  .slider__photo.owl-carousel
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
    a.slider__photo-item(href='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg' data-mediabox="main-gallery")
      img.slider__photo-item-img(src='http://mosurbanforum.com/media/News/main_2x/2017-11-22_49.jpg')
