mixin speakers-slider
  .slider__speakers.owl-carousel
    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-18__ca673f5c-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption
        span.slider__speakers-item-name Асиер Абаунза
        span.slider__speakers-item-company ООО Газпром
        span.slider__speakers-item-info Co-founder and managing director of the planning studio RAUMPOSITION

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-51__de50469e-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Ахмад Абделразак

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-18-02__ea9bb5c4-6088-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Евгений Автушенко

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-18__ca673f5c-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Асиер Абаунза

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-51__de50469e-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Ахмад Абделразак

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-18-02__ea9bb5c4-6088-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Евгений Автушенко

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-18__ca673f5c-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Асиер Абаунза

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-51__de50469e-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Ахмад Абделразак

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-18-02__ea9bb5c4-6088-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Евгений Автушенко

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-18__ca673f5c-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Асиер Абаунза

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-24-51__de50469e-6089-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Ахмад Абделразак

    a.slider__speakers-item
      img.slider__speakers-item-img(src='http://muf2018.ru/media/person/list_2x/2017-07-04_10-18-02__ea9bb5c4-6088-11e7-b71e-448a5b8480a3.jpg')
      span.slider__speakers-item-caption Евгений Автушенко
