mixin video-slider
  .slider__video.owl-carousel
    a.slider__video-item(data-filter-item data-filter-name="aqua est vita роль реки в современном мегаполисе" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Aqua Est Vita. Роль реки в современном мегаполисе

    a.slider__video-item(data-filter-item data-filter-name="burning man сила творческого сообщества принципы фестиваля в россии" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Burning Man. Сила творческого сообщества. Принципы фестиваля в России

    a.slider__video-item(data-filter-item data-filter-name="data-driven cities как данные меняют наше представление о городе" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Data-driven cities. Как данные меняют наше представление о городе?

    a.slider__video-item(data-filter-item data-filter-name="do it yourself кто такие мейкеры" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Do it yourself. Кто такие мейкеры

    a.slider__video-item(data-filter-item data-filter-name="duty free в масштабе страны особые экономические зоны" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Duty Free в масштабе страны. Особые экономические зоны

    a.slider__video-item(data-filter-item data-filter-name="fifa 2018 cпортивный мегапроект как драйвер модернизации городов" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption FIFA 2018. Спортивный мегапроект как драйвер модернизации городов

    a.slider__video-item(data-filter-item data-filter-name="good local что значит соседство в 2017 году" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Good local. Что значит соседство в 2017 году

    a.slider__video-item(data-filter-item data-filter-name="intelligence is new sexy наука в жизни мегаполиса" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Intelligence is new sexy. Наука в жизни мегаполиса

    a.slider__video-item(data-filter-item data-filter-name="urban resilience как азиатские мегаполисы собирают пазл устойчивого развития" href='https://www.youtube.com/embed/23YUmvsCtU8' data-mediabox="main-video-gallery" data-width="900" data-height="600")
      img.slider__video-item-img(src='https://img.youtube.com/vi/23YUmvsCtU8/0.jpg')
      span.slider__video-item-caption Urban resilience. Как азиатские мегаполисы собирают пазл устойчивого развития

    a.slider__video-item.slider__video-item--last(href='#')
      img.slider__video-item-img(src='assets/img/icons/film-black.svg')
      span.slider__video-item-caption Все видео  выступлений
