.slider {
  &__nav {
    position: absolute;
    top: 50%;
    width: 48px;
    height: 48px;
    background-color: #fff;
    transition: background-color 133ms ease-in-out, opacity 133ms ease-in-out, box-shadow 133ms ease-in-out;
    transform: translateY(-50%);
    opacity: 1;
    @include tablet {
      width: 60px;
      height: 60px;
    }
    &:before {
      display: block;
      text-align: center;
      font-size: 40px;
      line-height: 48px;
      @include tablet {
        font-size: 48px;
        line-height: 60px;
      }
    }
    &.disabled {
      pointer-events: none;
      opacity: 0;
    }
    &--next {
      right: 0;
      &:before {
        content: "\203A";

      }
    }
    &--prev {
      left: 0;
      &:before {
        content: '\2039';
      }
    }
    &:hover {
      background-color: $primary-color;
      cursor: pointer;
    }
  }
}

.owl-item.hidden {
  display: none;
}

.owl-nav.hidden {
  display: none;
}
