.slider__library {
  position: relative;
  &-item {
    @include link-reset;
    position: relative;
    display: block;
    width: 213px;
    height: 300px;
    border: 3px solid $slider-main-color;
    background-color: $slider-main-color;
    color: #fff;
    font-weight: 700;
    transition: border-color 133ms ease-in-out;
    &-img {
      width: 100%;
      height: 100%;
      @include object-fit(cover);
    }
    &-caption {
      height: 47px;
      padding: 17px 20px;
      font-size: 14px;
      background-color: $slider-main-color;
      position: absolute;
      z-index: 10;
      bottom: 0;
      width: 100%;
      transition: background-color 133ms ease-in-out, color 133ms ease-in-out;
    }
    &:hover {
      border-color: $primary-color;
      & .slider__library-item-caption {
        background-color: $primary-color;
        color: $base-color;
      }
    }
  }
}
