.slider__news {
  position: relative;
  &-item {
    @include link-reset;
    position: relative;
    display: block;
    width: 213px;
    height: 300px;
    border: 3px solid $slider-main-color;
    background-color: $slider-main-color;
    color: #fff;
    font-weight: 700;
    transition: border-color 133ms ease-in-out;
    &-overlay {
      position: absolute;
      background-color: rgba(0,0,0,.4);
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 5;
    }
    &-img {
      position: absolute;
      z-index: 1;
    }
    &-text {
      position: absolute;
      bottom: 50px;
      left: 0;
      right: 0;
      padding: 0 18px 15px;
      color: #fff;
      z-index: 10;
    }
    &-date {
      height: 47px;
      padding: 17px 20px;
      font-size: 14px;
      background-color: $slider-main-color;
      position: absolute;
      z-index: 10;
      bottom: 0;
      width: 100%;
      transition: background-color 133ms ease-in-out, color 133ms ease-in-out;
    }
    &:hover {
      border-color: $primary-color;
      & .slider__news-item-date {
        background-color: $primary-color;
        color: $base-color;
      }
    }
  }
}
