.slider__partners {
  position: relative;
  &-item {
    @include link-reset;
    position: relative;
    display: block;
    width: 200px;
    height: 200px;
    background-color: $partners-bg-color;
    &-img {
      width: 100%;
      height: 100%;
      @include object-fit(contain);
    }
    &-status {
      position: absolute;
      width: 100%;
      bottom: 20px;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      text-transform: uppercase;
      font-size: 10px;
      color: #9b9b9b;
    }
  }
  & .slider__nav {
    background: #000;
    color: #fff;
    &:hover {
      box-shadow: 0 0 0 5px #fff;
    }
  }
}
