.slider__photo {
  position: relative;
  &-item {
    @include link-reset;
    display: block;
    width: 210px;
    height: 140px;
    @include tablet {
      width: 300px;
      height: 200px;
    }
    &-img {
      width: 100%;
      height: 100%;
      @include object-fit(cover);
    }
  }
}
