.slider__speakers {
  position: relative;
  &-item {
    @include link-reset;
    position: relative;
    display: block;
    width: 240px;
    height: 330px;
    background-color: $slider-main-color;
    color: #fff;
    transition: color 133ms ease-in-out;
    &.hidden {
      display: none;
    }
    &-img {
      width: 100%!important; //Override owl
      height: 230px;
      @include object-fit(cover);
      filter: grayscale(100%);
      transition: filter 133ms ease-in-out;
    }
    &-caption {
      width: 100%;
      display: block;
      padding: 14px 25px;
      position: absolute;
      bottom: 0;
      background-color: $slider-main-color;
      min-height: 100px;
      transition: background-color 133ms ease-in-out;
      line-height: 1.43;
      font-size: 12px;
      font-weight: normal;
    }
    &-name {
      display: block;
      font-size: 14px;
      font-weight: 700;
    }
    &-company {
      display: block;

    }
    &-info {
      display: block;
      padding-top: 10px;
    }
    &:hover {
      color: $base-color;
      & .slider__speakers-item-img {
        filter: grayscale(0%);
      }
      & .slider__speakers-item-caption {
        background-color: $primary-color;
      }
    }
  }
}
