.slider__video {
  position: relative;
  &-item {
    @include link-reset;
    position: relative;
    display: block;
    width: 240px;
    height: 300px;
    background-color: $slider-main-color;
    color: #fff;
    transition: background-color 133ms ease-in-out, color 133ms ease-in-out;
    &.hidden {
      display: none;
    }
    &:before {
      content: '';
      position: absolute;
      display: block;
      top: 36px;
      left: 50%;
      width: 64px;
      height: 64px;
      background-image: url('#{$img-url}/icons/play-icon.svg');
      background-position: 50%;
      background-repeat: no-repeat;
      background-size: cover;
      z-index: 10;
      transform: translateX(-50%);
      transition: opacity 133ms ease-in-out;
      opacity: 0;
    }
    &-img {
      width: 100%!important; //Override owl
      height: 135px;
      @include object-fit(cover);
    }
    &-caption {
      display: block;
      padding: 18px 30px;
      font-size: 14px;
      font-weight: 700;
      line-height: 1.43;
    }
    &:hover {
      background-color: $primary-color;
      color: $base-color;
      &:before {
        opacity: 1;
      }
    }
    &--last {
      padding-top: 60px;
      background-color: #f9f8f7;
      box-shadow: inset 0 0 0 10px #9b9b9b;
      color: #747474;
      transition: box-shadow 133ms ease-in-out;
      &:before {
        display: none;
      }
      & .slider__video-item-img {
        width: 100px;
        height: 100px;
        margin: 0 auto 22px;
        opacity: .4;
        @include object-fit(contain);
        transition: opacity 133ms ease-in-out;
      }
      & .slider__video-item-caption {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.5;
        text-align: center;
      }
      &:hover {
        box-shadow: inset 0 0 0 10px $primary-color;
        & {
          .slider__video-item-img {
            opacity: 1;
          }
        }
      }
    }
  }
}
